<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<body>
  <div class="modal">
    <div id="sb-quiz" class="quiz-modal">
      <form action="test.html">
        <div id="question1" class="sb-questions-wrapper question">
          <div class="sb-progress">
            <div style="visibility: hidden;" class="sb-progress-step">
              <p>QUIZ krok 1/<span class="change-total-steps"></span></p>
            </div>
            <div style="visibility: hidden;" class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jakim biegaczem jesteś?</h2>
            </div>
          </div>
          <!-- quiz start -->
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <!-- prowadzi do sciezki pytan dla poczatkujacych -->
                <input type="radio" name="typ_biegacza" value="poczatkujacy">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/poczatkujacy.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>POCZĄTKUJĄCY</h3>
              <p>Dopiero zaczynam.</p>
            </div>
            <div class="sb-answer">
              <label>
                <!-- prowadzi do sciezki pytan dla poczatkujacych -->
                <input type="radio" name="typ_biegacza" value="rekreacyjny">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/rekreacyjny.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>REKREACYJNY</h3>
              <p>Staram się biegać regularnie dla zdrowia.</p>
            </div>
            <div class="sb-answer">
              <label>
                <!-- prowadzi do sciezki pytan dla zaawansowanych -->
                <input type="radio" name="typ_biegacza" value="regularny">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/regularny.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>REGULARNY</h3>
              <p>Traktuję ten sport poważnie. Biegam regularnie.</p>
            </div>
            <div class="sb-answer">
              <label>
                <!-- prowadzi do sciezki pytan dla zaawansowanych -->
                <input type="radio" name="typ_biegacza" value="zaawansowany">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/zaawansowany.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>ZAAWANSOWANY</h3>
              <p>Jestem zaprawionym biegaczem. Biorę udział w maratonach.</p>
            </div>
          </div>
          <p class="sb-privacy">Administratorem Twoich danych osobowych jest eobuwie.pl S.A. z siedzibą w Zielonej Górze, ul. Nowy Kisielin - Nowa 9, 66-002 Zielona Góra. Twoje dane osobowe będą przetwarzane w celu
            zaproponowania Ci butów do biegania najlepiej dopasowanych do Ciebie oraz umożliwienia Ci
            korzystania z innych usług dostępnych w naszym sklepie internetowym oraz sklepach stacjonarnych,
            które ułatwią Ci wybór obuwia sportowego możliwie najlepiej dopasowanego do Ciebie, oraz w celach
            marketingowych, w tym poprzez profilowanie. Więcej informacji na temat przetwarzania danych
            osobowych, w tym o przysługujących Ci prawach, znajduje się w naszej <a target="_blank" href="https://www.eobuwie.com.pl/polityka-prywatnosci-i-cookies">Polityce Prywatności</a>
            Więcej informacji znajdziesz w <a target="_blank" href="https://www.eobuwie.com.pl/regulamin">Regulaminie sklepu</a></p>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button style="display: none;" type="button" name="button">&#8592;</button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question2', 'question1'); stepNumber(1);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <!-- stopy -->
        <div id="question2" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 2/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jaki masz typ stopy?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer video-quiz">
              <label>
                <input disabled type="radio" name="" value="">
                <div class="sb-on-active">
                  <!-- <a target="_blank" href="https://www.youtube.com/watch?v=KyBAbgLOBeU&feature=youtu.be"><img style="position: unset;" src="images/video_quiz.png" alt="" class="sb-answer-image"></a> -->
                  <iframe class="sb-answer-image" src="https://www.youtube.com/embed/KyBAbgLOBeU?rel=0" frameborder="0"></iframe>
                </div>
              </label>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="typ_stopy" value="neutralna">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/neutralna.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>Stopa neutralna</h3>
              <p>Nie potrzebuję dodatkowej stabilizacji.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="typ_stopy" value="pronacja">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/pronujaca.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>stopa pronująca</h3>
              <p>Jestem nadpronatorem. Podczas biegu nadmiernie
                wyginam kostkę do wewnątrz.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="typ_stopy" value="supinacja-neutralna">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/supinujaca.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>Stopa supinująca</h3>
              <p>Jestem supinatorem. Podczas biegu moja stopa przetacza się po zewnętrznej krawędzi.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question1', 'question2'); stepNumber(1);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="checkQuestion('question1', 'question2'); stepNumber(2);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question3.1" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 3/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Gdzie biegasz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="nawierzchnia" value="asfalt">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/miasto.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>MIASTO</h3>
              <p>Siłownia, chodniki, miejskie parki i polne ścieżki. Wszystko w mojej okolicy.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="nawierzchnia" value="terenowa">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/teren.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>TEREN</h3>
              <p>Wszędzie tam gdzie świeże powietrze i piękne widoki. Leśne ścieżki i górskie szlaki to coś dla
                mnie!</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question2', 'question3.1'); stepNumber(2);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question4.1', 'question3.1'); stepNumber(3);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question3.2" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 3/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Gdzie biegasz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="nawierzchnia" value="asfalt">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/miasto.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>MIASTO</h3>
              <p>Siłownia, chodniki, miejskie parki i polne ścieżki. Wszystko w mojej okolicy.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="nawierzchnia" value="terenowa">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/teren.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>TEREN</h3>
              <p>Wszędzie tam gdzie świeże powietrze i piękne widoki. Leśne ścieżki i górskie szlaki to coś dla
                mnie!</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="nawierzchnia" value="bieganie_naturalne">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/naturalne.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>BIEGANIE NATURALNE</h3>
              <p>Polne ścieżki, trawniki, plaża. Tam gdzie mogę bezpiecznie biegać w butach z niskim dropem.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question2', 'question3.2'); stepNumber(2);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question4.2', 'question3.2'); stepNumber(3);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question4.1" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 4/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jaki dystans pokonujesz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="dystans_tygodniowy" value="do_30km">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/trasa1.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Nie więcej niż 5 km.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="dystans_tygodniowy" value="30_60km">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/trasa2.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Między 5, a 10 km.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="dystans_tygodniowy" value="powyzej_60km">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/trasa3.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Powyżej 10 km.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question3.1', 'question4.1'); stepNumber(3);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question5.1', 'question4.1'); stepNumber(4);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question4.2" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 4/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jaki dystans pokonujesz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="dystans_tygodniowy" value="do_30km">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/trasa1.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Mniej niż 10 km.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="dystans_tygodniowy" value="30_60km">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/trasa2.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Między 10, a 20 km.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="dystans_tygodniowy" value="powyzej_60km">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/trasa3.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Powyżej 20 km.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question3.2', 'question4.2'); stepNumber(3);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question5.2', 'question4.2'); stepNumber(4);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question5.1" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 5/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jak często chcesz biegać?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="czestotliwosc" value="">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/calendar1.png"}}" alt="" />
                </div>
              </label>
              <p>Na rozgrzewkę 1-2 razy w tygodniu.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="czestotliwosc" value="">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/calendar2.png"}}" alt="" />
                </div>
              </label>
              <p>Chcę biegać 3-4 razy tygodniowo.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="czestotliwosc" value="">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/calendar3.png"}}" alt="" />
                </div>
              </label>
              <p>Co najmniej 5 razy w tygodniu.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question4.1', 'question5.1'); stepNumber(4);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question7', 'question5.1'); stepNumber(5);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question5.2" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 5/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jak często chcesz biegać?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="czestotliwosc" value="">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/calendar1.png"}}" alt="" />
                </div>
              </label>
              <p>Mam mało czasu. Biegam 1-2 razy tygodniowo.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="czestotliwosc" value="">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/calendar2.png"}}" alt="" />
                </div>
              </label>
              <p>Obowiązkowo 2-3 razy tygodniowo.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="czestotliwosc" value="">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/calendar3.png"}}" alt="" />
                </div>
              </label>
              <p>Co najmniej 5 razy w tygodniu.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question4.2', 'question5.2'); stepNumber(4);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question6', 'question5.2'); stepNumber(5);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question6" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok 6/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jaki jest twój cel?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="przeznaczenie_biegowe" value="treningowe">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/dalej.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>CHCĘ BIEGAĆ DALEJ!</h3>
              <p>Wybieram obuwie biegowe z dodatkową amortyzacją.</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="przeznaczenie_biegowe" value="startowe">
                <div style="height: 12em;" class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/szybciej.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>CHCĘ BIEGAĆ SZYBCIEJ!</h3>
              <p>Wybieram lekkie i dynamiczne obuwie startowe.</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question5.2', 'question6'); stepNumber(5);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question7', 'question6'); stepNumber(6);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question7" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok <span class="sb-change-step" data-basenumber="6">6</span>/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Jakich butów szukasz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="plec" value="meskie">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/meskie.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>MĘSKICH</h3>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="plec" value="damskie">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/damskie.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <h3>DAMSKICH</h3>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="checkQuestion('question1', 'question7')" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="checkQuestion('question7', 'question7'); stepNumber(7);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question8.1" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok <span class="sb-change-step" data-basenumber="7">7</span>/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Ile ważysz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="waga_biegacza" value="do_80kg">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/80kg1.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Poniżej 80kg</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="waga_biegacza" value="od_80kg">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/80kg2.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Powyżej 80kg</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question7', 'question8.1'); stepNumber(7);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question9', 'question8.1'); stepNumber(8);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question8.2" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok <span class="sb-change-step" data-basenumber="7">7</span>/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <h2>Ile ważysz?</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-answer">
              <label>
                <input type="radio" name="waga_biegacza" value="do_60kg">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/60kg1.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Poniżej 60kg</p>
            </div>
            <div class="sb-answer">
              <label>
                <input type="radio" name="waga_biegacza" value="od_60kg">
                <div class="sb-on-active">
                  <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/60kg2.png"}}" alt="" />
                  <!-- <img src="images/check.png"> -->
                </div>
              </label>
              <p>Powyżej 60kg</p>
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="goToQuestion('question7', 'question8.2'); stepNumber(7);" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button disabled onclick="goToQuestion('question9', 'question8.2'), stepNumber(8);" type="button" name="button">
                &#8594;
              </button>
            </div>
          </div>
        </div>
        <div id="question9" style="display: none;" class="sb-questions-wrapper question sb-column-wrapper">
          <div class="sb-progress">
            <div class="sb-progress-step">
              <p>QUIZ krok <span class="sb-change-step" data-basenumber="8">8</span>/<span class="change-total-steps"></span></p>
            </div>
            <div class="sb-progress-bar-wrapper">
              <div class="sb-ui-progressbar"></div>
            </div>
            <div class="sb-title">
              <!-- <h2>Jaki jest rozmiar twojej stopy?</h2> -->
              <h2>Gratulacje!</h2>
            </div>
          </div>
          <div class="sb-answers-wrapper">
            <div class="sb-on-active">
              <img class="sb-answer-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/quizfinal.png"}}" alt="" />
            </div>
            <div class="sb-answer">
              <p>Udało Ci się dotrzeć do mety.<br>Zobacz rekomendowane buty do biegania.</p>
              <!-- <p>Rozmiar buta sportowego zawsze powinien być większy od standardowego rozmiaru.
                Podając długość stopy w milimetrach jesteśmy w stanie wybrać dla ciebie idealny rozmiar.</p> -->
              <!-- <label>
                <input style="position:relative;" type="number" min="35" max="50" name="rozmiar" autocomplete="off" placeholder="Wpisz rozmiar buta" value="">
              </label> -->
            </div>
          </div>
          <div class="sb-move-wrapper">
            <div class="sb-prev">
              <button onclick="checkQuestion('question7', 'question9')" type="button" name="button">&#8592;
              </button>
            </div>
            <div class="sb-next">
              <button style="font-size: 1rem;font-weight: bold;opacity:1 !important;" id="sb-submit" type="submit">Zobacz</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="sb-start-quiz-wrapper">
    <div class="sb-header">
      <h1>Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
    </div>
    <section>
      <a href="#sb-quiz"><button id="sb-start-quiz">Rozpocznij quiz</button></a>
    </section>
  </div>
</body>
<style media="screen">
  html,
    body
     {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    .sb-start-quiz-wrapper .sb-header {
  position: relative;
  height: 300px;
  background-color: #2B9A46;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.sb-start-quiz-wrapper h1 {
  margin: 0;
  padding: 100px 0;
  text-align: center;
  color: white;
}
#sb-quiz iframe{
  height: 139px;
width: 342px;
}
#sb-start-quiz{
  padding: 2em 7em;
  background: none;
      border: 1px solid #00000030;
  background-color: white;
  color: white;
  display: flex;
  margin: auto;
  position: absolute;
  color: black;
text-decoration: none;
font-weight: bold;
letter-spacing: 1px;
  /* magento nie chce top */
  /* top: 280px; */
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 9px 9px -2px rgba(201, 201, 201, 1);
}
    #sb-quiz {
        /* height: 100vh; */
    }
.quiz-modal{
  padding: 0 !important;
  max-width: none !important;
  width: 35% !important;
}
    .sb-title h2 {
        text-align: center;
        color: white;
        white-space: nowrap;
        margin-top: 0;
    }
    .sb-progress-step {
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .sb-progress-bar-wrapper{
      margin-bottom: 20px;
    }
    .sb-progress-bar-wrapper .sb-ui-progressbar {
        background-color: #6EBE71;
        border-radius: 4px;
    }

    .sb-progress-bar-wrapper .ui-widget-header {
        background: white;
        border-color: white;
    }
    .sb-progress-bar-wrapper .ui-widget-content {
        background: #c7c7c752;
        border: none;
    }
    .sb-progress-bar-wrapper .ui-progressbar {
        height: 0.5em;
    }
    .ui-progressbar .ui-progressbar-value{
      margin: 0;
    }
    .sb-progress {
        background-color: #2B9A46;
        padding: 2rem;
        padding-bottom: 4rem;
        position: absolute;
        border-radius: 15%/0 0 30px 30px;
        min-width: -webkit-fill-available;
        width: -moz-available;
    }

    .sb-questions-wrapper, .sb-questions-wrapper {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: space-between;
    }

    .sb-answers-wrapper {
        position: relative;
        top: 160px;
            margin-bottom: 36%;
    }

    .sb-questions-wrapper > div {
        flex: 1;
    }

    .sb-column-wrapper {
        flex-direction: column;
    }

    .sb-answer {
        text-align: center;
    }

    .sb-answer h3 {
        font-size: 1em;
        text-transform: uppercase;
    }

    .sb-answer p {
        margin-top: 8px;
        font-size: 0.8em;
        line-height: 20px;
    }

    .sb-answer input {
        display: none;
    }

    .sb-is-active {
        -webkit-filter: brightness(40%);
        filter: brightness(40%);
        background: white;
  background-clip: padding-box;
    }
    .sb-on-active{
      /* position: relative; */
      height: 9em;
      align-items: center;
      justify-content: center;
      display: flex;

    }
    .sb-on-active img:nth-of-type(1){
      position: absolute;
    }
    .sb-on-active img:nth-of-type(2){
      position: relative;
      bottom: -11px;
      left: -1px;
    box-shadow: none;
    background-color: transparent;
    }
    .sb-answer img, .sb-answer iframe {
        -webkit-box-shadow: 0px 9px 9px -2px rgba(201, 201, 201, 1);
        -moz-box-shadow: 0px 9px 9px -2px rgba(201, 201, 201, 1);
        box-shadow: 0px 9px 9px -2px rgba(201, 201, 201, 1);
        border-radius: 19px;
        position: relative;
        background-color: white;
    }

    .sb-move-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background-color: white;
        width: 100%;
        opacity: 1;
        -webkit-box-shadow: 0px -5px 13px 3px rgba(186, 186, 186, 0.19);
        -moz-box-shadow: 0px -5px 13px 3px rgba(186, 186, 186, 0.19);
        box-shadow: 0px -5px 13px 3px rgba(186, 186, 186, 0.19);
    }

    .sb-move-wrapper button, input[type=submit] {
        border: 2px solid #2B9A46;
        background-color: white;
        width: 10rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .sb-next button {
        background-color: #2B9A46;
        color: white;
        opacity: 0.5;
    }
    input[type=number] {
      width: 77%;
      color: #BDBDBD;
      margin: 1em 2em;
      padding: 15px 20px;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    #question8 p{
      margin: 1em 4em;
    }
    #question8 span{
      align-self: center;
      font-size: 12px;
      color: #BDBDBD;
    }
    .blocker{
      z-index: 200 !important;
    }
.sb-privacy{
  font-size: 10px;
margin: 2em;
}
.sb-privacy a{
color: #2B9A46;
text-decoration: none;
}
#question2 .sb-answer img{
  padding: 1em 8em;
}
#question2 .video-quiz img {
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}
#question2 .sb-answers-wrapper {
  top: 185px;
}
/* magento */
.page-title h1, .breadcrumbs{
  display: none;
}
@media (max-width: 1600px) {
  .quiz-modal{
    width: 50% !important;
  }

}
@media (max-width: 1124px) {
  .quiz-modal{
    width: 100% !important;
  }
  .blocker{
    padding: 0 !important;
  }
  .sb-answers-wrapper{
    margin-bottom: 53%;
  }
  .modal a.close-modal{
    top: 1.5px;
right: 0.5px;
  }
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript">
  var $ = jQuery; // Use global instance of jQuery, instead of loading it more than once
  $('a[href="#sb-quiz"]').click(function(event) {
    event.preventDefault();
    $(this).modal({
      escapeClose: false,
      clickClose: false,
      fadeDuration: 300
    });
  });

  function goToQuestion(nextQuestionId, prevQuestionId) {
    //Tu trzeba dodac walidacje ktora sprawdzi czy kliknieto ktoregos radiobuttona i zablokuje przejscie dalej jesli nie
    document.getElementById(nextQuestionId).style.display = "block";
    document.getElementById(prevQuestionId).style.display = "none";
  }

  $(".sb-move-wrapper button").click(function() {
    $(".jquery-modal").animate({
      scrollTop: 0
    }, "slow");
    return false;
  });

  function stepNumber(step) {
    var i;
    var firstQuestioInputs = document.querySelectorAll('#question1 input');
    for (i = 0; i < firstQuestioInputs.length; i++) {
      if (firstQuestioInputs[i].checked) {
        var quizPath = firstQuestioInputs[i].value;
        if (firstQuestioInputs[i].value == 'rekreacyjny' || firstQuestioInputs[i].value == 'poczatkujacy') {
          $(".sb-ui-progressbar").each(function() {
            $(this).progressbar({
              value: step,
              max: 8
            });
          });
          $('.change-total-steps').each(function() {
            $(this).text('8')
          });
        } else {
          $(".sb-ui-progressbar").each(function() {
            $(this).progressbar({
              value: step + 1,
              max: 9
            });
          });
          $('.change-total-steps').each(function() {
            $(this).text('9')
          });
          $('.sb-change-step').each(function() {
            $(this).html(parseInt($(this).attr("data-basenumber")) + 1);
          });
        }
      }
    }

  }

  function checkQuestion(queToCheck, queSource) {
    var i;
    var que = document.querySelector('#' + queToCheck);
    var inputs = que.querySelectorAll("input");
    for (i = 0; i < inputs.length; i++) {
      if (inputs[i].checked) {
        var answer = inputs[i].value;
        console.log(answer);
        switch (queToCheck) {
          case 'question1':
            switch (answer) {
              case 'rekreacyjny':
              case 'poczatkujacy':
                if (queSource === 'question2')
                  goToQuestion('question3.1', 'question2');
                if (queSource === 'question7')
                  goToQuestion('question5.1', 'question7');
                break;
              case 'regularny':
              case 'zaawansowany':
                if (queSource === 'question2')
                  goToQuestion('question3.2', 'question2');
                if (queSource === 'question7')
                  goToQuestion('question6', 'question7');
                break;
            }
          case 'question7':
            switch (answer) {
              case 'meskie':
                if (queSource === 'question7')
                  goToQuestion('question8.1', 'question7');
                if (queSource === 'question9')
                  goToQuestion('question8.1', 'question9');
                break;
              case 'damskie':
                if (queSource === 'question7')
                  goToQuestion('question8.2', 'question7');
                if (queSource === 'question9')
                  goToQuestion('question8.2', 'question9');
                break;
            }
            break;
        }
      }
    }

  }
  var i;
  var inputs = document.querySelectorAll("input[type='radio']"); //zbieramy wszystkie radiobuttony w quizie
  for (i = 0; i < inputs.length; i++) {
    inputs[i].addEventListener('click', function(e) {
      //$(".inserted-checked").remove();
      var j;
      var question = e.target.closest(".question"); //Szukamy calego pytania do kliknietego radiobuttona
      var answers = question.querySelectorAll(".sb-answer"); //Szukamy wszystkich div'ow z odpowiedziami w obrebie pytania
      var checkImgs = question.querySelectorAll(".inserted-checked");
      for (i = 0; i < checkImgs.length; ++i) {
        checkImgs[i].remove();
      }

      for (j = 0; j < answers.length; j++) {
        var img = answers[j].querySelector(".sb-answer-image"); //Szukamy obrazka w obrebie danej odpowiedzi
        if (answers[j].querySelector("input[type='radio']").checked) { //Sprawdzamy czy dany radiobutton lub input textowy w odpowiedzi jest klikniety
          var nextBtn = question.querySelector('.sb-next > button');
          if (nextBtn) {
            nextBtn.style.opacity = 1;
            nextBtn.disabled = false;
          }
          if (!img.classList.contains("sb-is-active")) {
            img.className += " sb-is-active";

          }
          $('<img class="inserted-checked" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/quiz/check.png"}}" alt="" />').insertAfter(img);
        } else {
          img.classList.remove("sb-is-active");
        }

      }
    });
  }
  //
  // Walidator submita
  //
  // var textInput = document.querySelector("input[type='number']");
  // textInput.addEventListener('keyup', sumbitBtnValidation);
  // textInput.addEventListener('click', sumbitBtnValidation);
  //
  // function sumbitBtnValidation(e) {
  //   var value = e.target.value;
  //   if (value && value >= 35 && value <= 50) {
  //     document.querySelector('#sb-submit').style.opacity = 1;
  //     document.querySelector('#sb-submit').disabled = false;
  //   } else {
  //     document.querySelector('#sb-submit').style.opacity = 0.5;
  //     document.querySelector('#sb-submit').disabled = true;
  //   }
  // }

  $("form").submit(function(event) {
    event.preventDefault();

  });
  $(document).ready(function() {
    $("#sb-submit").click(function() {
      var answerArray = new Array();
      answerArray = $("#sb-quiz form").serializeArray();
      console.log(answerArray);
      answerArray.shift();
      if (answerArray.find(object => object.value === 'terenowa')) {
        answerArray.shift();
        console.log(answerArray);
      }
      var url = "";
      console.log(answerArray);
      $.each(answerArray, function(i, field) {
        url += field.name + ":" + field.value + "/";
      });
      url = url.slice(0, -1);
      url = url.replace('plec:', '');
      url = url.replace('czestotliwosc:/', '');
      url = 'https://www.eobuwie.com.pl/' + url + '.html'
      // console.log(url);
      window.location = url;
    });
  });
</script>