<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
<style media="screen">
  ._posr {
        position: relative;
    }

    .sb-product-columns {
        display: flex;
        -webkit-overflow-scrolling: touch;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .sb-product-column {
        flex: none;
        width: 240px;
    }

    .sb-product-card {
        display: block;
        color: #2f2f2f;
    }

    .sb-product-card__image {
        margin-bottom: 30px;
    }

    .sb-product-card__title,
    .sb-product-card__subtitle,
    .sb-product-card__price {
        display: block;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    htop
    .sb-product-card__title,
    .sb-product-card__price {
        font-size: 16px;
        line-height: 21px;
        color: #2f2f2f;
    }

    .sb-product-card__subtitle {
        font-size: 10px;
        line-height: 14px;
        color: #4c4c4c;
    }

    .is-primary {
        color: #2B9A46;
    }

    .button.is-primary {
        background-color: #2B9A46;
    }

    .hero {
        /* background-image: url("images/bg.png"); */
        background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/bghero.png"}}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .sb-container {
        display: flex;
        justify-content: flex-end;
    }

    .sb-title {
        display: flex;
        margin-bottom: 1em;
    }

    .sb-title h3 {
        margin-right: 0.5em;
    }

    .content h1:not(:first-child) {
        margin-top: 0;
    }

    .sb-container .content {
        margin-bottom: 1.5rem !important;
    }
    #sb-wrapper iframe{
      height: 214px;
      width: 380px
    }
    #sb-wrapper .content {
        margin-bottom: 3.5rem;
    }

    #sb-wrapper .button {
        padding-bottom: calc(1.5em - 1px);
        padding-top: calc(1.5em - 1px);
        border-radius: 0;
    }

    #sb-wrapper .hero .hero-body {
        padding: 6rem;
    }

    #sb-wrapper section {
        margin-top: 40px;
    }

    .sb-buttons {
        display: block;
        display: table-caption;
    }

    .sb-buttons .button {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    .sb-hero-text {
        padding: 0 6em;
    }

    .sb-hero-text span {
        font-size: 1.5em;
    }

    .sb-buttons a:nth-of-type(2) {
        color: #2B9A46;
    }

    .sb-hero-video a {
        cursor: pointer;
    }

    .sb-hero-video img:nth-of-type(1) {
        float: right;
    }

    .sb-accordion-wrapper {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .sb-accordion-wrapper .sb-accordion h3 {
        width: 50%;
    }

    .sb-accordion {
        /* background-image: url("images/[d] amortyzacja header.png"); */
        background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/amortyzacja_header1.png"}}");
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        background-size: cover;
        color: #444;
        cursor: pointer;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        width: 100%;
        margin-top: 20px;
    }

    .accordion-container:nth-of-type(2) > .sb-accordion {
        /* background-image: url("images/[d] amortyzacja header2.png"); */
        background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/amortyzacja_header2.png"}}");
    }

    .accordion-container:nth-of-type(3) > .sb-accordion {
        /* background-image: url("images/[d] amortyzacja header0.png"); */
        background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/amortyzacja_header3.png"}}");
    }

    .sb-panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
        -webkit-box-shadow: 0px 3px 12px -2px rgba(150, 150, 150, 1);
        -moz-box-shadow: 0px 3px 12px -2px rgba(150, 150, 150, 1);
        box-shadow: 0px 3px 12px -2px rgba(150, 150, 150, 1);
        /* max-height: 0;
     overflow: hidden;
     transition: max-height 0.5s ease-out; */
    }

    .sb-panel .buttons .button,
    .sb-single-brand .buttons .button,
    .brand-banner .buttons .button,
    .sb-technologies-slick-element .buttons .button,
    .sb-quiz-banner .buttons .button,
    .sb-popular-wrapper .buttons .button,
    .content-tab .buttons .button {
        border-color: #4C4C4C;
        border-width: 2px;
        font-weight: bold;
        background-color: transparent;
    }

    .brand-banner .buttons .button,
    .sb-quiz-banner .buttons .button {
        background-color: transparent;
        border-color: white;
        color: white;
    }

    .sb-panel .buttons .button.is-rounded,
    .sb-single-brand .buttons .button,
    .brand-banner .buttons .button,
    .sb-technologies-slick-element .buttons .button,
    .sb-quiz-banner .buttons .button,
    .sb-popular-wrapper .buttons .button,
    .content-tab .buttons .button {
        padding-left: 4.5em;
        padding-right: 4.5em;
        font-size: 14px;
    }

    #sb-wrapper .buttons {
        margin-top: 20px;
    }

    .sb-accoridon-text {
        padding: 2rem;
        position: relative;
    }

    #sb-wrapper .tab {
        margin-bottom: 0;
    }

    .sb-accoridon-text svg {
        float: right;
        position: absolute;
        right: 4em;
        bottom: 3.5em;
    }

    .sb-accoridon-text a {
        color: white;
        text-decoration: underline;
    }

    .sb-accoridon-text a:hover {
        color: white;
        text-decoration: underline;
    }

    .tabs li.is-active a {
        border-bottom: none;
        color: #4CB050;
        font-weight: bold;
    }

    .tabs a:hover {
        border-bottom: 0;
    }

    .tabs ul {
        line-height: 4em;
    }

    .sb-arrow-up {
        display: none;
    }

    .sb-single-brand .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sb-wrapper section {
        padding: 4rem 1rem;
    }

    #sb-wrapper section:last-of-type {
        padding: 0;
    }

    #sb-wrapper section:nth-of-type(1) {
        background-color: transparent !important;
        padding: 0;
        margin-top: 0;
    }

    #sb-wrapper section:nth-child(odd) {
        background-color: #F6F6F6;
    }

    .sb-single-brand .content h2 {
        margin-bottom: 0;
        margin-right: 10px;
        color: #4C4C4C;
    }
.sb-single-brand-text{
  display: flex;
    flex-direction: column;
    align-items: center;
}
    .sb-single-brand-text img {
        margin: 0 40px;
    }

    .sb-single-brand-text p {
        text-align: justify;
        text-indent: 2em;
        line-height: 32px;
        margin-top: 1em;
        font-style: italic;
    }
.sb-single-brand-text p:nth-of-type(2)
    .sb-single-brand-slider {
        font-style: normal;
    }

    .asics-banner img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .sb-categories {
        display: flex;
        justify-content: center;
    }

    .sb-category {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 290px;
        height: 308px;
        margin-right: 22px;
        background-position: center;
    }

    .sb-category button {
        background-color: white;
        padding: 15px 45px;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .sb-category button:hover {
        cursor: pointer;
    }

    /* slick */

    .sb-article-slick,
    .sb-brands-slick,
    .sb-technologies-slick {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .sb-article-slick > div img,
    .sb-brands-slick > div img,
    .sb-technologies-slick-element {
        margin: 0 auto;
        position: relative;
        width: auto;
    }

    .sb-technologies-slick-element__logo-image {
        height: 50px;
        padding: 0 !important;
        margin-bottom: 10px;
    }

    .sb-technologies-slick-element__title {
        margin-bottom: 14px;
    }

    .sb-article-slick > div h2 {
        position: absolute;
        bottom: 3em;
        margin: 0 1em;
    }

    .sb-article-slick > div h2 a {
        text-decoration: underline;
    }

    .sb-technologies-slick .sb-technologies-slick-element {
        background: -webkit-linear-gradient(top, transparent 75%, #4CB050 25%);
        background: -o-linear-gradient(top, transparent 75%, #4CB050 25%);
        background: -moz-linear-gradient(top, transparent 75%, #4CB050 25%);
        background: linear-gradient(to top, transparent 75%, #4CB050 25%);
        padding: 2em;
        text-align: center;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 600px;
        position: relative;
        -webkit-box-shadow: 0px 6px 12px 0px rgba(181, 181, 181, 1);
        -moz-box-shadow: 0px 6px 12px 0px rgba(181, 181, 181, 1);
        box-shadow: 0px 6px 12px 0px rgba(181, 181, 181, 1);
    }
.sb-technologies-slick-element .buttons{
  position: absolute;
    bottom: 1em;
}
    /* margin between slides */
    .slick-slide {
        margin: 15px;
    }
    .slick-dots{
      text-align: center !important;
    }

    /* the parent */
    .slick-list {
        margin: 0 10px;
    }

    .slick-prev:before {
        /* content: url("images/arrow_left.png"); */
        content: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/arrow_left.png"}}");
        color: red;
        font-size: 30px;
    }

    .slick-next:before {
        /* content: url("images/arrow_right.png"); */
        content: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/arrow_right.png"}}");
        color: red;
        font-size: 30px;
    }

    .slick-next, .slick-prev {
        margin: 0;
    }

    .brand-banner {
        background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/asics_banner_1.png"}}");
        background-repeat: no-repeat;
        text-align: center;
        background-position: center;
        height: 220px;
        margin-top: 3em;
        position: relative;
    }

    .brand-banner .columns {
        height: 100%;
    }

    .brand-banner .columns .column {
        padding: 1.75rem;
    }

    .brand-banner .columns .column img {
        width: 70px;
        display: none;
        margin: 0 auto;
            margin-bottom: 0.5em;
    }

    @media (max-width: 768px) {
        .brand-banner .columns .column img {
            display: block;
        }
        .sb-single-brand-text{
          background-image: none !important;
        }
        .sb-single-brand-text p{
          text-align: center !important;
        }
        .sb-single-brand-text p:nth-of-type(1) {
            background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quote.png"}}") !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            padding: 2em;
        }
    }

    .brand-banner .brand-banner-right {
        float: left;
        margin-left: 14%;
    }

    @media (max-width: 768px) {
        .brand-banner .brand-banner-right {
            float: none;
        }
    }

    .brand-banner .brand-banner-right h2 {
        letter-spacing: -3px;
        word-spacing: 2px;
    }

    .brand-banner .brand-banner-right span {
        background-color: #B21D1E;
        padding: 3px 6px;
    }

    .sb-products-tabs ul li a {
        display: block;
        text-align: center;
    }

    .sb-products-tabs ul li:first-of-type {
        margin-right: 11em;
    }

    .sb-products-tabs .tabs.is-toggle li.is-active a {
        background-color: #4CB050 !important;
        border: none;
    }

    .sb-products-tabs .tabs.is-toggle li.is-active h3,
    .sb-products-tabs .tabs.is-toggle li.is-active h5 {
        color: white !important;
    }

    .sb-products-tabs .tabs.is-toggle a {
        border: none;
    }

    .sb-products-tabs .tabs ul {
        line-height: 2em;
    }

    .sb-products-tabs .tabs a {
        padding: 1em 4em;
    }

    .sb-quiz-banner {
        background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
        height: 250px;
        position: relative;
    }

    .sb-quiz-banner .sb-quiz-banner-text {
        position: absolute;
        top: 2em;
        right: 2em;
        color: white;
    }

    .sb-technologies-slick .slick-slide img {
        padding: 1em;
    }

    .sb-technologies-slick .slick-slide img:nth-of-type(1) {
        padding: 3em 0 !important;
    }

    .footer {
        padding: 0;
    }

    .page-title {
        visibility: hidden;
    }

    .transition {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out
        -o-transition: all 0.5s ease-in-out;
        transition:: all 0.5s ease-in-out;
    }

    @media (max-width: 1224px) {
        .sb-products-tabs ul li:first-of-type {
            margin-right: 0;
        }

        .brand-banner .columns .column {
            display: flex;
            align-items: flex-end;
        }

        .sb-quiz-banner-text h2 span {
            display: block;
        }
        .sb-accordion-wrapper {
            width: 100%;
        }
        .sb-quiz-banner .sb-quiz-banner-text {
            right: 0;
            top: 0;
            margin: 1em;
        }
    }

    @media (max-width: 1025px) {
        #sb-wrapper section {
            padding: 0.5em;
        }

        .sb-hero-text {
            padding: 0;
        }

        .sb-hero-text .sb-title {
            line-height: 1.2;
        }

        #sb-wrapper .hero .hero-body {
            padding: 1em;
                align-self: center;
        }

        #sb-wrapper section:nth-of-type(1) {
            background-color: #F6F6F6 !important
        }

        #sb-wrapper .hero {
            background-image: none;
        }

        #sb-wrapper .content {
            margin: 2em 0;
        }

        .sb-hero-video {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }

        .sb-hero-video img:nth-of-type(1) {
            float: right;
            width: fit-content;
        }

        .sb-accordion-wrapper,
        .sb-accordion-wrapper .sb-accordion h3 {
            width: 100%;
        }

        .sb-accoridon-text svg {
            right: 1em;
            bottom: inherit;
        }

        .sb-accoridon-text {
            padding: 2.5em;
        }

        .sb-accoridon {
            background-position: right;
        }

        .sb-panel .tabs ul {
            justify-content: space-between;
        }

        .sb-panel .subtitle {
            line-height: 28px;
            margin-top: 1em;
        }

        .slick-slider {
            width: 100%;
        }

        .sb-article-slick > div h2 {
            bottom: 1em;
            margin: 0.5em;
        }

        .sb-single-brand-text img {
            margin: auto auto !important;
        }

        .sb-single-brand-text p {
            text-align: left;
            text-indent: unset;
            line-height: 32px;
            margin: 0;
            text-align: justify;
        }

        .sb-single-brand-text p:nth-of-type(1) {
            background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quote.png"}}");
            background-repeat: no-repeat;
            background-position: center;
        }

        .sb-categories {
            overflow: auto;
            justify-content: unset;
        }

        .sb-category {
            background-position: center;
            background-repeat: no-repeat;
        }

        .sb-category button {
            padding: 15px 70px;
            margin: 1em;
        }

        .sb-products-tabs ul li:first-of-type {
            margin-right: 0;
            text-align: center;
            margin-bottom: 20px;
        }

        .brand-banner {
            background-size: cover;
            height: 328px;
            background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/asics-bg-mobile.png"}}");

        }
        .sb-quiz-banner{
          background-image: url(https://www.eobuwie.com.pl/media/wysiwyg/eobuwie/strefa_biegacza/quiz-mobile-bg.png);
          background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
        }
        .brand-banner a {
          position: absolute;
          bottom: 1em;
        }

        .brand-banner .columns {
            padding: 50px;
        }

        .brand-banner .columns .column {
            padding: 0;
            text-align: center;
            display: block;
        }

        .brand-banner .brand-banner-right h2 {
            line-height: 1.2;
        }

        .brand-banner .brand-banner-right {
            margin: -2em 2em;
        }

        .brand-banner .columns .column img {
            position: unset;
            bottom: 0;
        }

        .sb-quiz-banner .sb-quiz-banner-text {
            left: 2em;
            top: 0;

        }
    }
    @media (max-width: 482px) {
        #sb-wrapper section:nth-of-type(1) {
          background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/bg-mobile.png"}}");
          background-repeat: no-repeat;
          background-position: top 2em right;
          background-size: initial;
        }
        .sb-hero-text .sb-title{
          margin: 0 3em;
          margin-left: 0;
        }
        .sb-hero-text{
          margin: 0 4em;
          margin-left: 0;
        }
        .hero-body .content {
    margin: 1em 0 !important;
}
    }
</style>

<div id="sb-wrapper">
  <section class="hero">
    <div class="hero-body">
      <div class="container sb-container is-block-mobile">
        <div class="sb-hero-text">
          <div class="sb-title">
            <h1 class="is-primary is-size-2 has-text-weight-bold">STREFA BIEGACZA</h1>
          </div>
          <div class="content is-large">
            <h4><b>Rozwiąż krótki quiz i dobierz<br>odpowiednie buty do biegania.</b></h4>
          </div>
          <div class="sb-buttons buttons are-small">
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-primary is-medium has-text-weight-semibold">Dobierz mi buty!</a>
            <a class="has-text-weight-bold" href="https://www.eobuwie.com.pl/sport/bieganie.html">Wszystkie buty do biegania <span>&#8250;</span></a>
          </div>
        </div>
        <div class="sb-hero-video">
          <iframe src="https://www.youtube.com/embed/kgpVUhaqGcw?rel=0" frameborder="0"></iframe>
          <p>Czterokrotny mistrz olimpijski, trzykrotny mistrz świata<br>
            i dwukrotny mistrz Europy.<br>
            <b>Robert Korzeniowski</b></p>
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/podpis.png"}}" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- <section>
    <div class="content">
      <h2 class="title is-3 is-size-4-mobile has-text-centered">Na co warto zwrócić uwagę wybierając buty do
        biegania?</h2>
    </div>
    <div class="sb-accordion-wrapper">
      <div class="accordion-container">
        <button class="sb-accordion">
          <div class="sb-accoridon-text">
            <div class="sb-arrow">
              <svg class="sb-arrow-down" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" transform="rotate(-90 16 16)" stroke="white" stroke-width="2" />
                <path d="M20.58 13.2951L16 17.8751L11.41 13.2951L10 14.7051L16 20.7051L22 14.7051L20.58 13.2951Z" fill="white" />
              </svg>
              <svg class="sb-arrow-up" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" transform="rotate(90 16 16)" stroke="white" stroke-width="2" />
                <path d="M11.42 18.7049L16 14.1249L20.59 18.7049L22 17.2949L16 11.2949L10 17.2949L11.42 18.7049Z" fill="white" />
              </svg>
            </div>
            <h3 class="title is-3 has-text-white">Amortyzacja</h3>
            <h3 class="subtitle is-6 has-text-white has-text-weight-light">Czy wiesz, że im częściej i dalej
              biegasz tym bardziej Twoje stawy są obciążone? Wybierając buty z odpowiednią amortyzacją
              zmniejszasz ryzyko kontuzji. <a href="https://blog.eobuwie.com.pl/amortyzacja-w-butach-do-biegania-jakiej-potrzebujesz/">Czytaj
                więcej</a></h3>
          </div>
        </button>
        <div class="sb-panel">
          <div class="tabs is-centered is-medium is-size-6-mobile">
            <ul>
              <li onclick="openTab(event,'1FirstTab')" class="tab is-active"><a>Miasto</a></li>
              <li class="tab" onclick="openTab(event,'1SecondTab')"><a>Teren</a></li>
              <li class="tab" onclick="openTab(event,'1ThirdTab')"><a>Bieganie naturalne</a></li>
            </ul>
          </div>
          <div class="container section">
            <div id="1FirstTab" class="content-tab">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-hoka-one-one-bondi-6-1019270-spcb.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201251928_01_mf.jpg" class="sb-product-card__image" alt="Buty HOKA ONE ONE">
                    <strong class="sb-product-card__title">Buty HOKA ONE ONE</strong>
                    <span class="sb-product-card__subtitle">Bondi 6 1019270 Spcb</span>
                    <strong class="sb-product-card__price">649,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gel-pulse-11-1012a467-mako-blue-sun-coral-401.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201136560_01_kb.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gel-Pulse 11 1012A467 Mako Blue/Sun Coral 401</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-new-balance-mmorbk-czarny.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201702321_01_kl.jpg" class="sb-product-card__image" alt="Buty NEW BALANCE">
                    <strong class="sb-product-card__title">Buty NEW BALANCE</strong>
                    <span class="sb-product-card__subtitle">MMORBK Czarny</span>
                    <strong class="sb-product-card__price">599,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-adidas-energyfalcon-ee9852-cblack-gresix-ftwwht.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201281741_01_ts.jpg" class="sb-product-card__image" alt="Buty adidas">
                    <strong class="sb-product-card__title">Buty adidas</strong>
                    <span class="sb-product-card__subtitle">Energyfalcon EE9852 Cblack/Gresix/Ftwwht</span>
                    <strong class="sb-product-card__price">299,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-adidas-ultraboost-clima-u-eg8076-cblack-cblack-carbon.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201439791_01_ts.jpg" class="sb-product-card__image" alt="Buty adidas">
                    <strong class="sb-product-card__title">Buty adidas</strong>
                    <span class="sb-product-card__subtitle">Ultraboost Clima U EG8076 Cblack/Cblack/Carbon</span>
                    <strong class="sb-product-card__price">849,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>

            <div id="1SecondTab" class="content-tab" style="display:none">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gel-sonoma-4-1011a177-black-flash-coral-003.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201260210_01_wj.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gel-Sonoma 4 1011A177 Black/Flash Coral 003</span>
                    <strong class="sb-product-card__price">349,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-adidas-terrex-agravic-flow-g26102-legink-onix-actgol.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201418727_01_pa.jpg" class="sb-product-card__image" alt="Buty adidas">
                    <strong class="sb-product-card__title">Buty adidas</strong>
                    <span class="sb-product-card__subtitle">Terrex Agravic Flow G26102 Legink/Onix/Actgol</span>
                    <strong class="sb-product-card__price">599,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-hoka-one-one-challenger-atr-5-1104094-ipprd.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201252000_01_pa.jpg" class="sb-product-card__image" alt="Buty HOKA ONE ONE">
                    <strong class="sb-product-card__title">Buty HOKA ONE ONE</strong>
                    <span class="sb-product-card__subtitle">Challenger Atr 5 1104094 Ipprd</span>
                    <strong class="sb-product-card__price">549,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-dynafit-ultra-pro-64034-poseidon-fluo-orange-8972.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201415863_01_ws.jpg" class="sb-product-card__image" alt="Buty DYNAFIT">
                    <strong class="sb-product-card__title">Buty DYNAFIT</strong>
                    <span class="sb-product-card__subtitle">Ultra Pro 64034 Poseidon/Fluo Orange 8972</span>
                    <strong class="sb-product-card__price">679,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-the-north-face-ultra-endurance-ii-gtx-gore-tex-t93fxsg4c-flag-blue-tnf-blue.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201411834_01_pl.jpg" class="sb-product-card__image" alt="Buty THE NORTH FACE">
                    <strong class="sb-product-card__title">Buty THE NORTH FACE</strong>
                    <span class="sb-product-card__subtitle">Ultra Endurance II Gtx GORE-TEX T93FXSG4C Flag Blue/Tnf Blue</span>
                    <strong class="sb-product-card__price">599,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>

            <div id="1ThirdTab" class="content-tab" style="display:none">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-vibram-fivefingers-v-run-17m7005-black-yellow-purple.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201078686_01_yt.jpg" class="sb-product-card__image" alt="Buty VIBRAM FIVEFINGERS">
                    <strong class="sb-product-card__title">Buty VIBRAM FIVEFINGERS</strong>
                    <span class="sb-product-card__subtitle">V-Run 17M7005 Black/Yellow/Purple</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-vibram-fivefingers-v-trail-2-0-19m7601-black-yellow.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201078709_1_mf.jpg" class="sb-product-card__image" alt="Buty VIBRAM FIVEFINGERS">
                    <strong class="sb-product-card__title">Buty VIBRAM FIVEFINGERS</strong>
                    <span class="sb-product-card__subtitle">V-Trail 2.0 19M7601 Black/Yellow</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-vibram-fivefingers-v-trail-17w6905-black-grey.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000199683701_1__anp.jpg" class="sb-product-card__image" alt="Buty VIBRAM FIVEFINGERS">
                    <strong class="sb-product-card__title">Buty VIBRAM FIVEFINGERS</strong>
                    <span class="sb-product-card__subtitle">V-Trail 17W6905 Black/Grey</span>
                    <strong class="sb-product-card__price">339,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-vibram-fivefingers-v-run-16m3101-black-yellow.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000199682827_1__ek.jpg" class="sb-product-card__image" alt="Buty VIBRAM FIVEFINGERS">
                    <strong class="sb-product-card__title">Buty VIBRAM FIVEFINGERS</strong>
                    <span class="sb-product-card__subtitle">V-Run 16M3101 Black/Yellow</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-vibram-fivefingers-v-trail-2-0-19m7602-ivy-black.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201663219_01_pa.jpg" class="sb-product-card__image" alt="Buty VIBRAM FIVEFINGERS">
                    <strong class="sb-product-card__title">Buty VIBRAM FIVEFINGERS</strong>
                    <span class="sb-product-card__subtitle">V-Trail 2.0 19M7602 Ivy/Black</span>
                    <strong class="sb-product-card__price">639,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-container">
        <button class="sb-accordion">
          <div class="sb-accoridon-text">
            <div class="sb-arrow">
              <svg class="sb-arrow-down" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" transform="rotate(-90 16 16)" stroke="white" stroke-width="2" />
                <path d="M20.58 13.2951L16 17.8751L11.41 13.2951L10 14.7051L16 20.7051L22 14.7051L20.58 13.2951Z" fill="white" />
              </svg>
              <svg class="sb-arrow-up" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" transform="rotate(90 16 16)" stroke="white" stroke-width="2" />
                <path d="M11.42 18.7049L16 14.1249L20.59 18.7049L22 17.2949L16 11.2949L10 17.2949L11.42 18.7049Z" fill="white" />
              </svg>
            </div>
            <h3 class="title is-3 has-text-white">Stabilizacja</h3>
            <h3 class="subtitle is-6 has-text-white has-text-weight-light">Słyszałeś kiedyś o nadpronacjii
              nadsupinacji? Jeśli nie, sprawdź jak się poruszasz. To pomoże Ci wybrać buty, dzięki którym
              będziesz biegać bezpiecznie. <a href="https://blog.eobuwie.com.pl/pronacja-i-supinacja-sprawdz-czy-potrzebujesz-butow-ze-stabilizacja/">Czytaj
                więcej</a></h3>
          </div>
        </button>
        <div class="sb-panel">
          <div class="tabs is-centered is-medium is-size-6-mobile">
            <ul>
              <li onclick="openTab(event,'2FirstTab')" class="tab is-active"><a>Stopa neutralna</a></li>
              <li class="tab" onclick="openTab(event,'2SecondTab')"><a>Stopa supinująca</a></li>
              <li class="tab" onclick="openTab(event,'2ThirdTab')"><a>Stopa pronująca</a></li>
            </ul>
          </div>
          <div class="container section">
            <div id="2FirstTab" class="content-tab">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-adidas-galaxy-4-ee7917-cblack-cblack-ftwwht.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201281642_01_ek.jpg" class="sb-product-card__image" alt="Buty adidas">
                    <strong class="sb-product-card__title">Buty adidas</strong>
                    <span class="sb-product-card__subtitle">Galaxy 4 EE7917 Cblack/Cblack/Ftwwht</span>
                    <strong class="sb-product-card__price">199,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-on-cloud-000019-black-white-0000.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000200505930_01_wj.jpg" class="sb-product-card__image" alt="Buty ON">
                    <strong class="sb-product-card__title">Buty ON</strong>
                    <span class="sb-product-card__subtitle">Cloud 000019 Black/White 0000</span>
                    <strong class="sb-product-card__price">599,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-adidas-energyfalcon-ee9948-legink-clpink-tecink.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201310342_01_dp.jpg" class="sb-product-card__image" alt="Buty adidas">
                    <strong class="sb-product-card__title">Buty adidas</strong>
                    <span class="sb-product-card__subtitle">Energyfalcon EE9948 Legink/Clpink/Tecink</span>
                    <strong class="sb-product-card__price">279,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-mizuno-wave-rider-23-j1gd190325-blue-turquo.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000206377401_01_pac.jpg" class="sb-product-card__image" alt="Buty MIZUNO">
                    <strong class="sb-product-card__title">Buty MIZUNO</strong>
                    <span class="sb-product-card__subtitle">Wave Rider 23 J1GD190325 Blue Turquo</span>
                    <strong class="sb-product-card__price">599,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-under-armour-ua-micro-g-pursuit-bp-3021953-402-blu.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201451151_02_kl.jpg" class="sb-product-card__image" alt="Buty UNDER ARMOUR">
                    <strong class="sb-product-card__title">Buty UNDER ARMOUR</strong>
                    <span class="sb-product-card__subtitle">Ua Micro G Pursuit Bp 3021953-402 Blu</span>
                    <strong class="sb-product-card__price">249,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
            <div id="2SecondTab" class="content-tab" style="display:none">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-new-balance-mariscv2-granatowy.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201701881_01_gh.jpg" class="sb-product-card__image" alt="Buty NEW BALANCE">
                    <strong class="sb-product-card__title">Buty NEW BALANCE</strong>
                    <span class="sb-product-card__subtitle">MARISCV2 Granatowy</span>
                    <strong class="sb-product-card__price">299,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-saucony-clarion-s10447-1-blk.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000200847238_01_ek.jpg" class="sb-product-card__image" alt="Buty SAUCONY">
                    <strong class="sb-product-card__title">Buty SAUCONY</strong>
                    <span class="sb-product-card__subtitle">Clarion S10447-1 Blk</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-mizuno-wave-equate-3-j1gd194802-czarny.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000206360663_01_mf.jpg" class="sb-product-card__image" alt="Buty MIZUNO">
                    <strong class="sb-product-card__title">Buty MIZUNO</strong>
                    <span class="sb-product-card__subtitle">Wave Equate 3 J1GD194802 Czarny</span>
                    <strong class="sb-product-card__price">459,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-patriot-11-1012a484-rose-petal-breeze-700.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201260371_01_wj.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Patriot 11 1012A484 Rose Petal/Breeze 700</span>
                    <strong class="sb-product-card__price">249,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gel-ikaia-7-gs-c80nq-race-blue-red-alert.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000206291882_1__ap.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gel-Ikaia 7 Gs C80NQ Race Blue/Red Alert</span>
                    <strong class="sb-product-card__price">209,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
            <div id="2ThirdTab" class="content-tab" style="display:none">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gt-1000-8-g-tx-gore-tex-1012a482-mako-blue-black-400.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201259443_01_pp.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gt-1000 8 G-Tx GORE-TEX 1012A482 Mako Blue/Black 400</span>
                    <strong class="sb-product-card__price">539,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gel-kayano-26-1011a541-black-electric-blue-003.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201259023_01_ts.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gel-Kayano 26 1011A541 Black/Electric Blue 003</span>
                    <strong class="sb-product-card__price">739,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-under-armour-ua-w-charged-europa-2-3021246-103-gry.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201450901_01_pac.jpg" class="sb-product-card__image" alt="Buty UNDER ARMOUR">
                    <strong class="sb-product-card__title">Buty UNDER ARMOUR</strong>
                    <span class="sb-product-card__subtitle">Ua W Charged Europa 2 3021246-103 Gry</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-mizuno-wave-paradox-5-j1gc184003-czarny.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201358535_01_ek.jpg" class="sb-product-card__image" alt="Buty MIZUNO">
                    <strong class="sb-product-card__title">Buty MIZUNO</strong>
                    <span class="sb-product-card__subtitle">Wave Paradox 5 J1GC184003 Czarny</span>
                    <strong class="sb-product-card__price">629,99 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-hoka-one-one-arahi-3-1104097-nbeb.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201251829_01_kt.jpg" class="sb-product-card__image" alt="Buty HOKA ONE ONE">
                    <strong class="sb-product-card__title">Buty HOKA ONE ONE</strong>
                    <span class="sb-product-card__subtitle">Arahi 3 1104097 NBEB</span>
                    <strong class="sb-product-card__price">549,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-container">
        <button class="sb-accordion">
          <div class="sb-accoridon-text">
            <div class="sb-arrow">
              <svg class="sb-arrow-down" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" transform="rotate(-90 16 16)" stroke="white" stroke-width="2" />
                <path d="M20.58 13.2951L16 17.8751L11.41 13.2951L10 14.7051L16 20.7051L22 14.7051L20.58 13.2951Z" fill="white" />
              </svg>
              <svg class="sb-arrow-up" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="16" cy="16" r="15" transform="rotate(90 16 16)" stroke="white" stroke-width="2" />
                <path d="M11.42 18.7049L16 14.1249L20.59 18.7049L22 17.2949L16 11.2949L10 17.2949L11.42 18.7049Z" fill="white" />
              </svg>
            </div>
            <h3 class="title is-3 has-text-white">Dynamika</h3>
            <h3 class="subtitle is-6 has-text-white has-text-weight-light">Jaki jest Twój cel? Chcesz biegać
              dalej, czy szybciej? Wybierz obuwie, które zostało stworzone z myślą o szybkich lub długich
              biegach. <a href="https://blog.eobuwie.com.pl/jakie-wybrac-buty-na-maraton-a-jakie-do-szybkiego-biegania/">Czytaj
                więcej</a></h3>
          </div>
        </button>
        <div class="sb-panel">
          <div class="tabs is-centered is-medium is-size-6-mobile">
            <ul>
              <li onclick="openTab(event,'3FirstTab')" class="tab is-active"><a>Buty treningowe</a></li>
              <li class="tab" onclick="openTab(event,'3SecondTab')"><a>Buty treningowo-startowe</a></li>
              <li class="tab" onclick="openTab(event,'3ThirdTab')"><a>Buty startowe</a></li>
            </ul>
          </div>
          <div class="container section">
            <div id="3FirstTab" class="content-tab">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-new-balance-wvngogg4-szary.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201703724_01_kb.jpg" class="sb-product-card__image" alt="Buty NEW BALANCE">
                    <strong class="sb-product-card__title">Buty NEW BALANCE</strong>
                    <span class="sb-product-card__subtitle">WVNGOGG4 Szary</span>
                    <strong class="sb-product-card__price">529,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-under-armour-ua-hovr-infinite-3021395-401-gry.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/650x650/0/0/0000201450932_01_sw.jpg" class="sb-product-card__image" alt="Buty UNDER ARMOUR">
                    <strong class="sb-product-card__title">Buty UNDER ARMOUR</strong>
                    <span class="sb-product-card__subtitle">Ua Hovr Infinite 3021395-401 Gry</span>
                    <strong class="sb-product-card__price">599,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gel-cumulus-21-1011a571-graphite-grey-sour-yuzu-020.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201136409_01_pc.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gel-Cumulus 21 1011A571 Graphite Grey/Sour Yuzu 020</span>
                    <strong class="sb-product-card__price">619,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-gel-nimbus-21-1011a714-white-lake-drive-100.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201259207_01_pc.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">Gel-Nimbus 21 1011A714 White/Lake Drive 100</span>
                    <strong class="sb-product-card__price">739,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-saucony-clarion-s20447-1-black.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000200847597_01_yt_3.jpg" class="sb-product-card__image" alt="Buty SAUCONY">
                    <strong class="sb-product-card__title">Buty SAUCONY</strong>
                    <span class="sb-product-card__subtitle">Clarion S20447-1 Black</span>
                    <strong class="sb-product-card__price">399,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
            <div id="3SecondTab" class="content-tab" style="display:none">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-mizuno-wave-inspire-15-j1gc194421-blue-grap.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000206377395_01_pac.jpg" class="sb-product-card__image" alt="Buty MIZUNO">
                    <strong class="sb-product-card__title">Buty MIZUNO</strong>
                    <span class="sb-product-card__subtitle">Wave Inspire 15 J1GC194421 Blue Grap</span>
                    <strong class="sb-product-card__price">569,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-new-balance-mzanpuv-niebieski.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201702697_1__ki.jpg" class="sb-product-card__image" alt="Buty NEW BALANCE">
                    <strong class="sb-product-card__title">Buty NEW BALANCE</strong>
                    <span class="sb-product-card__subtitle">MZANPUV Niebieski</span>
                    <strong class="sb-product-card__price">449,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-on-cloud-x-00020-midnihgt-cobalt-99973.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201071441_01_pp_1.jpg" class="sb-product-card__image" alt="Buty ON">
                    <strong class="sb-product-card__title">Buty ON</strong>
                    <span class="sb-product-card__subtitle">Cloud X 00020 Midnihgt/Cobalt 99973</span>
                    <strong class="sb-product-card__price">649,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-saucony-freedom-iso-2-s20440-37-teal.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000206243034_01_ks.jpg" class="sb-product-card__image" alt="Buty SAUCONY">
                    <strong class="sb-product-card__title">Buty SAUCONY</strong>
                    <span class="sb-product-card__subtitle">Freedom Iso 2 S20440-37 Teal</span>
                    <strong class="sb-product-card__price">699,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-new-balance-mflshcl3-niebieski.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201701935_01_wj.jpg" class="sb-product-card__image" alt="Buty NEW BALANCE">
                    <strong class="sb-product-card__title">Buty NEW BALANCE</strong>
                    <span class="sb-product-card__subtitle">MFLSHCL3 Niebieski</span>
                    <strong class="sb-product-card__price">279,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
            <div id="3ThirdTab" class="content-tab" style="display:none">
              <div class="sb-product-columns columns">
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-adidas-adizero-prime-b37401-cblack-ftwwht-carbon.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201284247_01_wj.jpg" class="sb-product-card__image" alt="Buty adidas">
                    <strong class="sb-product-card__title">Buty adidas</strong>
                    <span class="sb-product-card__subtitle">adizero prime B37401 Cblack/Ftwwht/Carbon</span>
                    <strong class="sb-product-card__price">849,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-hoka-one-one-cavu-2-1099724-lichen-sodalite-blue.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000200824260_01_ws.jpg" class="sb-product-card__image" alt="Buty HOKA ONE ONE">
                    <strong class="sb-product-card__title">Buty HOKA ONE ONE</strong>
                    <span class="sb-product-card__subtitle">Cavu 2 1099724 Lichen/Sodalite Blue</span>
                    <strong class="sb-product-card__price">349,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-li-ning-speed-star-arhm082-3h-crown-jewel-african-violet-black-white-electric-blue.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201522509_01_mg.jpg" class="sb-product-card__image" alt="Buty LI-NING">
                    <strong class="sb-product-card__title">Buty LI-NING</strong>
                    <span class="sb-product-card__subtitle">Speed Star ARHM082-3H Crown Jewel/African Violet/Black/White/Electric Blue</span>
                    <strong class="sb-product-card__price">219,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-asics-roadhawk-ff-2-1012a123-skylight-white-401.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000200790978_01_kb.jpg" class="sb-product-card__image" alt="Buty ASICS">
                    <strong class="sb-product-card__title">Buty ASICS</strong>
                    <span class="sb-product-card__subtitle">RoadHawk FF 2 1012A123 Skylight/White 401</span>
                    <strong class="sb-product-card__price">299,00 zł</strong>
                  </a>
                </div>
                <div class="sb-product-column column">
                  <a href="https://www.eobuwie.com.pl/buty-nike-air-zoom-streak-7-aj1699-010-black-white-oil-grey.html" class="sb-product-card">
                    <img src="https://www.eobuwie.com.pl/media/catalog/product/cache/image/300x300/0/0/0000201578933_01_ws_2.jpg" class="sb-product-card__image" alt="Buty NIKE">
                    <strong class="sb-product-card__title">Buty NIKE</strong>
                    <span class="sb-product-card__subtitle">Air Zoom Streak 7 AJ1699 010 Black/White/Oil Grey</span>
                    <strong class="sb-product-card__price">469,00 zł</strong>
                  </a>
                </div>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/sport/bieganie.html" class="button is-rounded is-small">Zobacz wszystkie</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section> -->
  <section>
    <div class="sb-articles">
      <div class="content">
        <h2 class="title is-3 is-size-4-mobile has-text-centered">Dowiedz się więcej o butach do biegania</h2>
      </div>
      <div class="sb-article-slick">
        <div class="_posr">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/slide1_1.png"}}" alt="" />
          <h2 class="has-text-weight-bold has-text-white is-size-5">Buty do biegania w mieście czy w terenie –
            które wybrać?<br>
            <a class="is-size-5 has-text-white has-text-weight-light" href="https://blog.eobuwie.com.pl/buty-do-biegania-w-miescie-czy-w-terenie-ktore-wybrac/">Czytaj
              więcej</a>
          </h2>
        </div>
        <div class="_posr">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/slide2_1.png"}}" alt="" />
          <h2 class="has-text-weight-bold has-text-white is-size-5">Jak dobrać buty do biegania?<br>
            <a class="is-size-5 has-text-white has-text-weight-light" href="https://blog.eobuwie.com.pl/jak-dobrac-buty-do-biegania/">Czytaj
              więcej</a>
          </h2>
        </div>
        <div class="_posr">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/slide3_1.png"}}" alt="" />
          <h2 class="has-text-weight-bold has-text-white is-size-5">Co różni damskie i męskie buty do
            biegania?<br>
            <a class="is-size-5 has-text-white has-text-weight-light" href="https://blog.eobuwie.com.pl/co-rozni-damskie-i-meskie-buty-do-biegania/">Czytaj
              więcej</a>
          </h2>
        </div>
      </div>
    </div>
  </section>

  <div id="synerise-singlebrand-section"></div>

  <section>
    <div class="brands-slider">
      <div class="content">
        <h2 class="title is-3 is-size-4-mobile has-text-centered">Poznaj biegowe marki na eobuwie.pl</h2>
      </div>
      <div class="sb-brands-slick">
        <div>
          <a href="https://www.eobuwie.com.pl/asics.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-asics-220x100.png"}}" alt="ASICS" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/adidas_performance.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-adidas-220x100.png"}}" alt="ADIDAS" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/columbia.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-columbia-220x100.png"}}" alt="COLUMBIA" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/hoka_one_one.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-hoka_one_one-220x100.png"}}" alt="HOKA ONE ONE" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/mizuno.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-mizuno-220x100.png"}}" alt="MIZUNO" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/new_balance.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-new_balance-220x100.png"}}" alt="NEW BALANCE" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/nike.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-nike-220x100.png"}}" alt="NIKE" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/on.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-on_running-220x100.png"}}" alt="ON RUNNING" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/puma.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-puma-220x100.png"}}" alt="PUMA" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/reebok.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-reebok-220x100.png"}}" alt="REEBOK" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/salomon.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-salomon-220x100.png"}}" alt="SALOMON" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/saucony.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-saucony-220x100.png"}}" alt="SAUCONY" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/the_north_face.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-the_north_face-220x100.png"}}" alt="THE NORTH FACE" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/under_armour.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-under_armour-220x100.png"}}" alt="UNDER ARMOUR" />
          </a>
        </div>
        <div>
          <a href="https://www.eobuwie.com.pl/vibram_fivefingers.html">
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-vibram-220x100.png"}}" alt="VIBRAM" />
          </a>
        </div>
      </div>

      <div class="brand-banner">
        <div class="columns">
          <div class="column">
          </div>
          <div class="column">
            <div class="brand-banner-right">
              <div class="brand-banner-text">
                <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo_asics_white.png"}}" alt="ASICS">
                <h2 class="is-size-3 has-text-weight-bold has-text-white">ZNAJDŹ SWOJE IDEALNE BUTY</h2>
              </div>
              <div class=" buttons is-centered">
                <a href="https://www.eobuwie.com.pl/asics.html" class="button is-medium has-text-white">Kupuj
                  ASICS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sb-technologies">
      <div class="content">
        <h2 class="title is-3 is-size-4-mobile has-text-centered">Poznaj technologie w butach do biegania</h2>
      </div>
      <div class="sb-technologies-slick">
        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_asics.png"}}" alt="ASICS" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-asics-220x100.png"}}" alt="ASICS" class="sb-technologies-slick-element__logo-image" />
          <!-- <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/slide1.png"}}" alt="" /> -->
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">Guidance
            Line</h3>
          <p>Nacięcie znajdujące się na całej długości podeszwy, które przy każdym kroku prowadzi stopę po
            najbardziej optymalnym torze przetaczania.</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/technologie:guidance_line.html" class="button is-medium">Zobacz
              produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_adidas.png"}}" alt="ADIDAS" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-adidas-220x100.png"}}" alt="ADIDAS" class="sb-technologies-slick-element__logo-image">
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">Cloudfoam</h3>
          <p>Podeszwa środkowa gwarantująca natychmiastowy komfort oraz jeszcze lepszą amortyzację</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/kategoria:sport-damskie-bieganie:sport-meskie-bieganie/producenci:adidas-adidas_performance/technologie:cloudfoam.html" class="button is-medium">Zobacz produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_new-balance.png"}}" alt="NEW BALANCE">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-new_balance-220x100.png"}}" alt="NEW BALANCE" class="sb-technologies-slick-element__logo-image" />
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">Fresh Foam</h3>
          <p>Lekka pianka amortyzująca o wysokiej odporności na odkształcenia. Dzięki odpowiedniej strukturze
            zapewnia miękkość oraz odpowiednią ochronę stawów.</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/kategoria:sport-damskie-bieganie:sport-meskie-bieganie/technologie:fresh_foam.html" class="button is-medium">Zobacz produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_puma.png"}}" alt="PUMA" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-puma-220x100.png"}}" alt="PUMA" class="sb-technologies-slick-element__logo-image" />
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">Softfoam</h3>
          <p>Komfortowa wkładka PUMA zapewnia natychmiastowy i długotrwały komfort z miękką amortyzacją
            podczas każdego kroku</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/kategoria:sport-damskie-bieganie:sport-meskie-bieganie/technologie:softfoam.html" class="button is-medium">Zobacz produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_mizuno.png"}}" alt="MIZUNO" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-mizuno-220x100.png"}}" alt="MIZUNO" class="sb-technologies-slick-element__logo-image" />
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">X10</h3>
          <p>Trwała mieszanka gumy węglowej, która jest mniej podatna na ścieranie w obszarach najbardziej na
            to narażonych.</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/technologie:x10.html" class="button is-medium">Zobacz
              produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_under-armour.png"}}" alt="UNDER ARMOUR" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-under_armour-220x100.png"}}" alt="UNDER ARMOUR" class="sb-technologies-slick-element__logo-image" />
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">Micro G</h3>
          <p>Pianka Micro G łączy w sobie odpowiedni poziom bezpieczeństwa, amortyzacji jak również
            dynamiki.</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/kategoria:sport-damskie-bieganie:sport-meskie-bieganie/technologie:micro_g.html" class="button is-medium">Zobacz produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_hoka-one-one.png"}}" alt="HOKA ONE ONE" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-hoka_one_one-220x100.png"}}" alt="HOKA ONE ONE" class="sb-technologies-slick-element__logo-image" />
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">Meta-Rocker</h3>
          <p>Geometria śródpodeszwy, charakteryzująca się niewielką różnicą w kołysce pomiędzy piętą a
            palcami. Tworzy to unikalny efekt podparcia, ułatwiając poprawne stawianie stóp w czasie
            biegu.</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/technologie:meta_rocker.html" class="button is-medium">Zobacz
              produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_salomon.png"}}" alt="SALOMON" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-salomon-220x100.png"}}" alt="SALOMON" class="sb-technologies-slick-element__logo-image" />
          <h3 class="sb-technologies-slick-element__title is-size-4 has-text-weight-semibold">ContaGrip</h3>
          <p>Wytrzymała, komfortowa podeszwa. Wykonana z różnych gatunków gumy zapobiega ślizganiu się oraz
            zapewnia amortyzację i stabilizację.</p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/kategoria:sport-damskie-bieganie:sport-meskie-bieganie/technologie:contagrip.html" class="button is-medium">Zobacz produkty</a>
          </div>
        </div>

        <div class="sb-technologies-slick-element">
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/technologies_saucony.png"}}" alt="SAUCONY" />
          <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/logo-saucony-220x100.png"}}" alt="SAUCONY" class="sb-technologies-slick-element__logo-image" />
          <h3 class="is-size-4 has-text-weight-semibold">Everun</h3>
          <p>Zaawansowana technologicznie pianka, odpowiadająca za amortyzację i zwrot energii. Złożona z
            mikoczątseczek o kulitystym kształcie, zapewnia długotrwalą amortyzacje na bardzo wyskoim
            poziomie. </p>
          <div class=" buttons is-centered">
            <a href="https://www.eobuwie.com.pl/technologie:everun.html" class="button is-medium">Zobacz
              produkty</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="sb-categories-wrapper">
      <div class="content">
        <h2 class="title is-3 is-size-4-mobile has-text-centered">Przydatne akcesoria treningowe</h2>
      </div>
      <div class="sb-categories">
        <div style="background-image: url({{media url="wysiwyg/eobuwie/strefa_biegacza/cat1_1.png"}});" class="sb-category">
          <button onclick="location.href='https://www.eobuwie.com.pl/sport/akcesoria/skarpetki/producenci:asics-injinji-under_armour-x_socks-mizuno.html';" type="button" name="button">Skarpety
          </button>
        </div>
        <div style="background-image: url({{media url="wysiwyg/eobuwie/strefa_biegacza/cat2_1.png"}});" class="sb-category">
          <button onclick="location.href='https://www.eobuwie.com.pl/akcesoria_biegowe:czapki.html';" type="button" name="button">Czapki
          </button>
        </div>
        <div style="background-image: url({{media url="wysiwyg/eobuwie/strefa_biegacza/cat3_1.png"}})" class="sb-category">
          <button onclick="location.href='https://www.eobuwie.com.pl/akcesoria_biegowe:torby_i_plecaki.html';" type="button" name="button">Torby i plecaki
          </button>
        </div>
        <div style="background-image: url({{media url="wysiwyg/eobuwie/strefa_biegacza/cat4_1.png"}});" class="sb-category">
          <button onclick="location.href='https://www.eobuwie.com.pl/akcesoria_biegowe:inne.html';" type="button" name="button">Inne
          </button>
        </div>
      </div>
    </div>
  </section>
  <div id="sb-synerise">
  </div>

  <section>
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-3 is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
<script>
  var acc = document.getElementsByClassName("sb-accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
      //animation
      // if (panel.style.maxHeight) {
      //   panel.style.maxHeight = null;
      // } else {
      //   panel.style.maxHeight = panel.scrollHeight + "px";
      // }
    });
  }
  // toggle arrow
  $('.sb-accordion').click(function() {
    var $this = $(this);
    $this.find('.sb-arrow-down').toggle();
    $this.find('.sb-arrow-up').toggle();
  });

  // tabs dla accordow
  function openTab(evt, tabName) {

    var currentTab = document.getElementById(tabName); //Zapisujemy konkretnego taba do zmiennej
    var currentTabLink = evt.currentTarget; //Zapisujemy aktualnie klikniety tab link do zmiennej
    var currentGroup = currentTabLink.closest('.sb-panel'); //Szukamy aktualnej grupy po id .sb-panel
    var tabs, tabLinks, i;

    if (!currentTabLink.classList.contains('is-active')) {

      tabs = currentGroup.getElementsByClassName("content-tab"); //Szukamy wszystkich tabow w grupie
      for (i = 0; i < tabs.length; i++) {
        if (tabs[i] === currentTab) {
          tabs[i].style.display = "block"; //Jesli jest to aktualnie wybrany tab - wyswietlamy go
        } else {
          tabs[i].style.display = "none"; //Wszystkie pozostałe ukrywamy
        }

      }

      tabLinks = currentGroup.getElementsByClassName("tab"); //Szukamy wszystkich tab linków w grupie
      for (i = 0; i < tabLinks.length; i++) {
        if (tabLinks[i] === currentTabLink) { //Jesli dany tab link to dokladnie ten ktory kliknelismy
          tabLinks[i].className += " is-active";
        } else {
          tabLinks[i].className = tabLinks[i].className.replace(" is-active", ""); //Kazdemu pozostalemu tabowi linkowi zabieramy klase .is-active
        }
      }
    }
  }

  // tabs dla ostatniej sekcji
  function openTabProducts(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }

  //slick
  $(document).ready(function() {
    $('.sb-article-slick').slick({
      infinite: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      arrows: true,
      responsive: [{
          breakpoint: 1224,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: true
          }
        },
        {
          breakpoint: 786,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            dots: true,
            arrows: false
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            arrows: false,
            centerMode: true
          }
        }
      ]
    });
  });
  $(document).ready(function() {
    $('.sb-technologies-slick').slick({
      infinite: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [{
          breakpoint: 1224,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: true
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            dots: true,
            arrows: false
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            arrows: false
          }
        }
      ]
    });
  });
  $(document).ready(function() {
    $('.sb-brands-slick').slick({
      infinite: true,
      slidesToShow: 8,
      slidesToScroll: 1,
      responsive: [{
          breakpoint: 1224,
          settings: {
            slidesToShow: 6,
            slidesToScroll: 1,
            arrows: true
          }
        },
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 3,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 3000
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 6000
          }
        }
      ]
    });
  });
</script>
<script type="text/javascript">
  $(window).on('load', function() {
    if ($(window).width() < 768) {
      $(".accordion-container").each(function() {
        var subtitle = $(this).find(".subtitle");
        var tab = $(this).find(".tabs");
        subtitle.insertBefore(tab);
      });
      $('.sb-panel h3').removeClass("has-text-white");
    }
  });
</script>
<!-- <script type="text/javascript">
window.onload = function() {
document.head.querySelector("[content~=FOLLOW]").removeAttribute("name");
}
</script> -->