<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Zużycie amortyzacji - Kiedy wymienić buty do biegania?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Trzy lata temu zrobiłeś życiówkę i trudno Ci się rozstać z butami? Rozumiemy to, ale Twoje zdrowie i komfort biegania powinny być na pierwszym miejscu. Eksperci są zgodni, że buty do biegania
              powinno się wymieniać co 700 – 800 kilometrów. Wówczas systemy zastosowane w butach przestają spełniać swoją rolę i pojawiają się naturalne oznaki zużycia - np. starta podeszwa. Czy można ograniczyć zużycie amortyzacji? Sprawdźmy. </h2>
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/zuzycie_amortyzacji.png"}}" alt="" />
          </section>
          <article class="message is-success">
            <div class="message-body">
              “Zacznijmi od tego , że buty choć z pozoru wyglądają dobrze , niekoniecznie są jeszcze zdatne do biegania. Wszystko co w bucie najlepsze jest ukryte w jego środku. Dlatego kiedy zaczynasz czuć dyskomfort, coś zaczyna Tobie przeszkadzać
              w bucie , nie czujesz już takiej dynamiki jak wcześniej, to pierwszy znak żeby zacząć myśleć o zakupie nowego modelu.”
              <br><br>
              <strong>Paweł Ochal - Ambasador ASICS</strong>
            </div>
          </article>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Dlaczego amortyzacja ulega zużyciu?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Amortyzacja pełni w butach biegowych bardzo ważną rolę - niweluje przeciążenia, na które podczas wysiłku narażone są nasze stawy. To rodzaj sprężystego bufora, który wkomponowany jest w
              podeszwę. Głównym składnikiem są różne rodzaje pianek. Podczas nacisku pianka stopniowo twardnieje i traci swoje właściwości, w tym tak potrzebną sprężystość i elastyczność.

              Producenci obuwia stosują różne rozwiązania, by poprawić właściwości amortyzacyjne i tym samym wydłużyć życie butów. Jednym z praktykowanych sposób jest uzupełnianie jej innymi materiałami, takimi jak żel (charakterystyczny dla Asicsa)
              czy DNA (materiał o zmiennej dynamice odbicia). Zdarza się, że stosuje się bardziej złożone systemy amortyzacji, takie jak Zoom (materacyk gazowy Nike), Hydroflow (pęcherz wypełniony olejem silikonowym), czy Wave (podobny do dachówki
              poliuretanowy element charakterystyczny dla Mizuno).
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Jak biegać, by ograniczyć zużycie amortyzacji? </h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Waga zawodnika, nawierzchnia po której biegamy i technika - te czynniki mają zasadniczy wpływ na stopień zużycia amortyzacji. Jeżeli biegamy regularnie po miękkich nawierzchniach, nie dźwigamy
              dodatkowych kilogramów i mamy wyrobioną prawidłową technikę biegu - czyli ciężar ciała rozkładamy równomiernie na całej stopie - to dajemy naszym butom drugie życie i znacząco opóźniamy zużycie amortyzacji. W innym wypadku - twarda
              nawierzchnia, uderzanie piętami o asfalt i do tego nadmiar kilogramów - skutek będzie odwrotny. Pamiętajmy, poprawna technika biegu nie tylko minimalizuje ryzyko odniesienia kontuzji, ale także opóźnia zużycie butów pod względem
              amortyzacyjnym.
            </h2>
          </section>
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_ochal.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Paweł Ochal</h3>
                    <div class="has-text-grey-light">Ambasador ASICS</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-6">Karierę biegacza rozpoczął w 1994 roku, od tego czasu wielokrotnie stawał na podium Mistrzostw Polski w biegach długodystansowych. Były zawodnik kadry narodowej w latach 2001-2010. Doświadczony trener zarówno zawodowych,
              jak i amatorskich biegaczy. Autor wielu prac i programów szkoleniowych. Ambasador ASICS nieprzerwanie od 2005 roku.
            </p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_marton_szybkibieg_small.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jakie wybrać buty
                  na maraton a jakie
                  do szybkiego biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/buty_maraton_szybki_bieg">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/jakdbac.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jak dbać o buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/jak_dbac_o_buty">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/amortyzacja_small.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Amortyzacja w butach do biegania - Jakiej potrzebujesz?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/amortyzacja_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
            <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }
  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }
#sb-blog .button{
  border-radius: 0 !important;
  border: 1px solid black !important;
  padding-left: 1.75em !important;
padding-right: 1.75em !important;
font-weight: bold;
}
  #sb-blog img {
    width: 100%;
  }
  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }
  #sb-blog .section {
    padding-left: 0;
  }
  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }
  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }
  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }
  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }
  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }
#sb-blog .blog-map{
  background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
  height: 12rem;
background-size: contain;
background-repeat: no-repeat;
}

.sb-quiz-banner {
  background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
  height: 250px;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
    padding-top: 4rem;
  }
    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
<script type="text/javascript">
  var $ = jQuery;
  if ($(window).width() < 768) {
    var text1 = $('.hidden-mobile1').text();
    $('.added-mobile1').append(text1);
    $('.hidden-mobile1').remove();

    var text2 = $('.hidden-mobile2').text();
    $('.added-mobile2').append(text2);
    $('.hidden-mobile2').remove();
  }
</script>