<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Bieganie naturalne i buty minimalistyczne</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Biegania naturalnego możemy doświadczyć biegając na bosaka po plaży lub po trawie w parku. W trakcie takiego biegu nasze stopy i mięśnie pracują w nieograniczony przez buty sposób. Sprwia to, że
              bieganie naturalne jest dobrym urozmaiceniem treningów i pomaga m.in. wzmocnić mięśnie łydki.</h2>
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_bieganie_naturalne.png"}}" alt="" />
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Wysokość dropu w butach do biegania</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Temat biegania naturalnego jest nierozłączneie związany z wysokością dropu, czyli różnicą między grubością podeszwy buta w miejscu pięty w stosunku do jej wysokość w śródstopiu. Standardowo,
              najczęściej spotykane rozwiązanie w butach biegowych to ok 8-10 mm dropu, czyli pięta jest wyżej o 0,8-1cm niż śródstopie. Taki układ pozwala w znacznym stopniu odciążyć Twoje łydki podczas biegu i zamortyzować uderzenie w momencie
              styku pięty z podłożem.
              Buty minimalistyczne, jak sama nazwa wskazuje charakteryzują się minimalnym spadkiem wysokości podeszwy, czyli niskim dropem. Ich drop waha się od 0 do 4 milimetrów, choć tutaj trudno postawić sztywne granice.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Dla kogo buty minimalistyczne?</h1>
            <article class="message is-success">
              <div class="message-body">
                “Bieganie w butach minimalistycznych to przyjemna odskocznia od "standardowych" butów biegowych. Należy jednak pamiętać, że dla początkujących biegaczy, powinno stanowić uzupełnienie, a nie podstawę treningu. Uważam, że warto
                spróbować, ale wszystko z umiarem!”
                <br><br>
                <strong>Jerzy Skarżyński – trener, ambasador ASICS</strong>
              </div>
            </article>
            <h2 class="subtitle is-6 is-size-6-mobile">Z pewnością nie powinien to być Twój pierwszy wybór jeśli dopiero zaczynasz przygodę z bieganiem. Większość biegaczy początkujących biega lądując na pięcie, a taka technika biegu wymaga
              zastosowania pożądnej warstwy amortyzacji. Zatem, jeśli lądujesz na pięcie, warto wybierać buty z większym lub standardowym dropem. Natomaias jeśli potrafisz biegać lądując na śródstopiu możesz rozważyć zakup butów minimalistycznych.
              Bieganie naturalne wymaga nie tylko odpowiedniej techniki biegu, ale także dobrego przygotowania fizycznego. Bieganie w butach minimalistycznych jest dużo bardziej wymagające dla dla mięśni, ścięgien i stawów, dlatego jeśli ktoś nigdy
              wcześniej w takich butach nie biegał to po pierwszym treningu na śródstopiu będą go bolały mięśnie. Te mięśnie, które w butach z wysokim dropem są “nieaktywne”. Dlatego też buty minimalistyczne są bardzo dobrym urozmaiceniem treningu i
              okazją do wzmocnienia mięśni.</h2>
          </section>
          <!-- <section class="section section-flex">
            <div id="synerise-bieganienaturalne">

            </div>
            <div class="has-text-centered"><a class="button">Zobacz wszystko</a></div>
          </section> -->
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_skarzynski.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Jerzy Skarżyński</h3>
                    <div class="has-text-grey-light">Trener, ambasador ASICS</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-6">Maratończyk, z rekordem życiowym 2:11:42 (1986), 3-krotny medalista mistrzostw Polski w maratonie, wielokrotny reprezentant Polski oraz trener. Prawdopodobnie największy Autorytet Biegowy w Polsce, autor bestsellerowych
              poradników dla biegaczy. Ambasador ASICS.</p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-3 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article1.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jak dobrać buty
                  do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/jak_dobrac_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article2.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Sprawdź czy potrzebujesz butów ze stabilizacją.</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/pronacja_supinacja">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article3.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Zużycie amortyzacji - Kiedy wymienić buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/zuzycie_amortyzacji">Czytaj więcej</a>
              </div>
            </div>
            <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .content ol {
    margin-left: 1em !important;
  }

  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>