<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <div style="align-items: center;padding: 1em;" class="sb-back-link is-flex is-hidden-desktop">
            <svg style="margin-right: 1em;" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 11L2 6L7 1" stroke="#2F2F2F" stroke-width="2" />
            </svg>
            <a style="color: black;" href="https://www.eobuwie.com.pl/strefa-biegacza">Powrót do strefy biegacza</a>
          </div>
          <section class="section">
            <img class="sb-article-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/amortyzacja.png"}}" alt="" />
            <h4 class="has-text-weight-light">SIERPIEŃ 2019, JERZY SKARŻYŃSKI</h4>
            <h1 class="title is-2 is-size-3-mobile is-spaced">Amortyzacja w butach do biegania - Jakiej potrzebujesz?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Podczas biegania nasze stawy poddawane są silnym przeciążeniom. Dlatego buty biegowe powinniśmy wybierać również biorąc pod uwagę wymaganą amortyzację. Aby określić stopień amortyzacji, którego
              potrzebujemy powinniśmy zwrócić szczególną uwagę na kilka aspektów: nawierzchnia, waga biegacza, kilometraż, technika biegu.</h2>
            <a href="https://www.eobuwie.com.pl/blog/amortyzacja_buty_do_biegania" class="button">Czytaj więcej</a>
          </section>
          <section class="section">
            <img class="sb-article-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/stabilizacja.png"}}" alt="" />
            <h4 class="has-text-weight-light">SIERPIEŃ 2019, MAGDALENA GŁASZCZKA</h4>
            <h1 class="title is-2 is-size-3-mobile is-spaced">Pronacja i supinacja – sprawdź czy potrzebujesz butów ze stabilizacją</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Większość z nas trochę pronuje. Problem pojawia się gdy tendencja do pronacji jest nadmierna. To prowadzi do przeciążeń i może powodować kontuzje. Dlatego dla biegaczy nadmiernie pronujących
              zostały stworzone buty z dodatkową stabilizacją. Sprawdź sam, czy potrzebujesz takich butów do biegania!</h2>
            <a href="https://www.eobuwie.com.pl/blog/pronacja_supinacja" class="button">Czytaj więcej</a>
          </section>
          <section class="section">
            <img class="sb-article-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_marton_szybkibieg.png"}}" alt="" />
            <h4 class="has-text-weight-light">SIERPIEŃ 2019, MATEUSZ ŁĘKAWA</h4>
            <h1 class="title is-2 is-size-3-mobile is-spaced">Jakie wybrać buty na maraton a jakie do szybkiego biegania?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Buty do biegania to pojęcie bardzo ogólne. Jedni preferują rywalizację na krótkich dystansach, inni wolą długie trasy i startują w maratonach. Obuwie przeznaczone do tych form aktywności
              znacznie się od siebie różni. Sprawdź, czym charakteryzują się poszczególne modele.</h2>
            <a href="https://www.eobuwie.com.pl/blog/buty_maraton_szybki_bieg" class="button">Czytaj więcej</a>
          </section>
          <section class="section">
            <img class="sb-article-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-img1.png"}}" alt="" />
            <h4 class="has-text-weight-light">SIERPIEŃ 2019, KACPER PIECH</h4>
            <h1 class="title is-2 is-size-3-mobile is-spaced">Buty do biegania w mieście czy w terenie – które wybrać?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Zanim zdecydujesz się na zakup butów do biegania, określ nawierzchnię, na której zamierzasz ćwiczyć. To kluczowa sprawa, która determinuje budowę buta i uwypukla jego określone cechy.
              Podpowiadamy, jakie buty wybrać na twarde, asfaltowe nawierzchnie, a na co zwrócić uwagę, kiedy trenujemy na terenach otwartych, np. w lesie.</h2>
            <a href="https://www.eobuwie.com.pl/blog/miasto_czy_teren" class="button">Czytaj więcej</a>
          </section>
          <section class="section">
            <img class="sb-article-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/jakiebuty.png"}}" alt="" />
            <h4 class="has-text-weight-light">SIERPIEŃ 2019, WERONIKA ZIELIŃSKA</h4>
            <h1 class="title is-2 is-size-3-mobile is-spaced">Jak dobrać buty do biegania?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Aktywny tryb życia staje się coraz bardziej popularny wśród Polaków. Decydujemy się już nie tylko na specjalistyczne diety, ale coraz częściej stawiamy także na aktywność fizyczną. Jedną z tych,
              która ma ogromne rzesze zwolenników, jest bieganie. Jakie buty wybrać do biegania? Kiedy but leży idealnie? Które buty sprawdzą się na twardej nawierzchni, a które w terenie? Podpowiadamy!</h2>
            <a href="https://www.eobuwie.com.pl/blog/jak_dobrac_buty_do_biegania" class="button">Czytaj więcej</a>
          </section>
          <section class="section">
            <img class="sb-article-image" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/damskie_meskie.png"}}" alt="" />
            <h4 class="has-text-weight-light">SIERPIEŃ 2019, PAWEŁ MACHOWSKI</h4>
            <h1 class="title is-2 is-size-3-mobile is-spaced">Co różni damskie i męskie buty do biegania?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Nawierzchnia, doświadczenie, dystans, jaki zamierzamy przebiec – te czynnik zawsze mają zasadniczy wpływ na to, jakie buty do biegania wybierzemy. A czy istnieje typowo „damskie” lub „męskie”
              obuwie dedykowane biegaczom? Poszczególne modele różnią się tylko kolorystyką i rozmiarówką? Sprawdźmy.</h2>
            <a href="https://www.eobuwie.com.pl/blog/damskie_meskie_buty_do_biegania" class="button">Czytaj więcej</a>
          </section>
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <a href="https://www.eobuwie.com.pl/strefa-biegacza" class="button has-text-white is-fullwidth to-sb-button">Przejdź do strefy biegacza</a>
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .content ol {
    margin-left: 1em !important;
  }

  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog .to-sb-button {
    background-color: #4CAF50;
    border: none !important;
    padding: 1.6em 2em;
    margin-bottom: 3em;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog .sb-article-image {
    margin-bottom: 1.5em;
    height: 332px;
    object-fit: cover;
    object-position: top;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog iframe {
    width: 100%;
    height: 31rem;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog iframe {
      height: 14rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>