<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container is-fluid">
      <div class="columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Jak dobrać buty do biegania?</h1>
            <h2 class="subtitle is-6">Aktywny tryb życia staje się coraz bardziej popularny wśród Polaków. Decydujemy się już nie tylko na specjalistyczne diety, ale coraz częściej stawiamy także na aktywność fizyczną. Jedną z tych,
              która ma ogromne rzesze zwolenników, jest bieganie. Jakie buty wybrać do biegania? Kiedy but leży idealnie? Które buty sprawdzą się na twardej nawierzchni, a które w terenie? Podpowiadamy!</h2>
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/jakiebuty.png"}}" alt="" />
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Jakim biegaczem jesteś?</h1>
            <h2 class="subtitle is-6">Biegasz dla przyjemności? Przygotowujesz się do półmaratonu? A może już masz życiówkę na królewskim dystansie 42,195 km? Pamiętaj, że przed każdym startem warto zadbać o
              odpowiednie obuwie. To czy jesteś osobą, która dopiero zaczyna przygodę z bieganiem czy taką, która biega regularnie i traktuje to jako naturalny element swojej codziennej aktywności, ma fundamentalne znaczenie przy wyborze właściwej
              pary butów. Ważne jest to, by dostosować buty do swoich bieżących potrzeb i możliwości. Buty do biegania powinny być dobrze dopasowane, tzn. pięta solidnie osadzona, tak żeby nie tarła ścięgna Achillesa, najdłuższy palec ze swobodą
              ruchu. Bardzo istotne jest także to, jak często trenujesz i na jakich nawierzchniach. Determinuje to dobranie właściwego bieżnika, solidnej cholewki (co z kolei wpływa na stopień przyczepności butów) oraz stopnia amortyzacji - powinien
              on być dostosowany do Twojej wagi i sposobu, w jaki układasz stopę podczas biegu.
            </h2>
          </section>
          <article class="message is-success">
            <div class="message-body">
              “Kupno butów do biegania nie należy do najłatwiejszych. Zanim pójdziesz do sklepu poproś kogoś aby nagrał Cię podczas biegu (z boku i z przodu). Najlepiej zrób to pod koniec treningu aby nie mieć sił na poprawianie techniki biegu. Film
              lepiej pokaże Twoją sylwetkę niż krótka przebieżka na bieżni mechanicznej. Bardzo często to co myślimy o naszej technice biegu nijak się ma do rzeczywistości. Jeśli chcesz mieć pewność, że sprzedawca dobrze Ci doradzi zwróć uwagę czy
              zapytał o następujące rzeczy:
              <ul>
                <li>– staż treningowy, nie tylko biegowy, czy kiedykolwiek trenowałeś, jak długo nie ćwiczyłeś
                <li>– cel, na jakiej nawierzchni się do niego przygotowujesz
                <li>– bóle, urazy
              </ul>
              Jeśli będziesz trenować regularnie, oprócz biegania wykonywać ćwiczenia uzupełniające (wzmacniające lub rozciąganie) Twoje ciało się zmieni. Może się wtedy okazać, że będziesz potrzebować nieco innych butów niż dotychczas. Każde kupno
              butów traktuj tak jakby było pierwsze. Pamiętaj tylko, że jeśli przestaniesz trenować to zamiany są odwracalne.”
              <br><br>
              <strong>Weronika Zielińska – trenerka, ASICS FrontRunner Poland</strong>
            </div>
          </article>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Sprawdź, czy potrzebujesz dodatkowej stabilizacji</h1>
            <h2 class="subtitle is-6">Zdiagnozowano u Ciebie pronację - stopa podczas styku z podłożem wykręca się zbyt mocno do wewnątrz? Po kilku przebieżkach podejrzewasz supinację - spadasz na piętę i zamiast
              wykonać ruch do wewnątrz, zamortyzować wstrząs, stopa “ucieka” na zewnątrz? A może na co dzień dźwigasz trochę kilogramów za dużo? Po pierwsze: to nic strasznego, a po drugie: wybór butów do biegania z dodatkową stabilizacją pozwoli Ci
              cieszyć się Twoją ulubioną aktywnością, minimalizując ryzyko kontuzji. Współcześni wiodący producenci proponują wiele skutecznych rozwiązań w tym zakresie, np. technologia Duomax oraz Dynamic Duomax wykorzystywana przez Asics,
              DynamicSupport typowy dla Nike, Energized Stability lub StableFrame dla adidas, oznaczenie z nr 60 dla New Balance. W przypadku marek takich jak Mizuno czy Saucony nie zastosowano konkretnych symboli. Dodatkową stabilizację rozpoznamy
              po charakterystycznym ukształtowaniu płytki Wave w podeszwie środkowej.
            </h2>
            <a href="https://www.eobuwie.com.pl/blog/pronacja_supinacja" class="button">Dowiedz się więcej</a>
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Wybierz odpowiednią amortyzację</h1>
            <h2 class="subtitle is-6">Zacznijmy od tego, że amortyzacja jest bardzo potrzebna. Chroni nasze stawy, kolana i kręgosłup przed dużym naciskiem - podczas biegania każdy krok to obciążenie o skali nawet
              kilkukrotności masy naszego ciała. Podstawowa zasada jest taka, że im jesteśmy lżejsi, tym mniejszy stopień amortyzacji jest nam potrzebny.
              Jednak aby wybrać odpowiednią amortyzację, musimy odpowiedzieć na kilka dodatkowych pytań. Kluczowe z nich dotyczą tego, jak długo trwa nasza przygoda z bieganiem, jak często i na jakich nawierzchniach trenujemy i jaka jest Twoja
              technika biegu - lądujesz na pięcie, czy śródstopiu?
              Topowe marki, rozwijając swoją ofertę, odpowiadają na nasze zapotrzebowanie także i w tym zakresie - adidas stosuje piankę Boost, Nike technologię Lunarlon oraz Air, Asics GEL, a New Balance wykorzystuje Fresh Foam. Wybór należy do
              nas.
            </h2>
            <a href="https://www.eobuwie.com.pl/blog/amortyzacja_buty_do_biegania" class="button">Dowiedz się więcej</a>
          </section>
          <section class="section section-flex is-block-mobile">
            <h1 class="title is-3 is-spaced">Jak powinny leżeć dobrze wybrane buty?</h1>
            <h2 class="subtitle is-6">Czy istnieją idealne buty do biegania? To bardzo indywidualna sprawa, zależna od wielu czynników. Więcej możemy powiedzieć na temat właściwego dopasowania. Podstawowa zasada mówi tak: luz tylko
              w palcach, a od sznurowadeł do zapiętka but powinien być stabilny, dobrze dopasowany. Niewłaściwe dopasowanie, kiedy stopa w bucie “lata” zwiększa ryzyko kontuzji, obtarć i powoduje uczucie dyskomfortu. Z kolei gdy but jest za mały,
              ciągły ucisk może powodować bolesne uszkodzenie płytki paznokciowej. Dlatego kluczowe we właściwym dopasowaniu butów mogą okazać się:</h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Luz w palcach</h1>
            <h2 class="subtitle is-6">Nie kupujmy butów rano. Warto poczekać do popołudnia, kiedy nogi są nabrzmiałe - podczas biegania też takie będą. Jeśli mamy stopy różnej długości, to rozmiar buta dobieramy pod dłuższą stopę.
              Na przymiarkę warto wziąć skarpety, w których zamierzamy biegać.
              Rozmiar buta zawsze sprawdzamy stojąc, pod wpływem ciężaru naszego ciała stopa lekko się rozpłaszcza i też w ten sposób rozkłada w bucie. W butach do biegania powinniśmy zostawić minimum pół centymetra luzu na palce, żeby móc nimi
              swobodnie poruszać. Zwracamy uwagę na to, by pozostałe jego części: śródstopie i pięta były właściwie dopasowane - by uniknąć efektu zsuwania się buta.

            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Szerokość śródstopia</h1>
            <h2 class="subtitle is-6">Musimy pamiętać, że rozmiarówki poszczególnych marek różnią się od siebie. 42 w marce X nie zawsze odpowiada temu samemu rozmiarowi w marce Y. Przekłada się to także na szerokość butów: jedne są
              luźniejsze, inne mocniej oplatają stopę. I tutaj, podczas przymiarki, do głosu dochodzą indywidualne preferencje każdego z biegaczy. Wybieramy taki model, w którym nasza stopa układa się optymalnie. Każdy dyskomfort to sygnał, że dana
              para nie jest dla nas, nigdy nie kupujmy butów z myślą, że “się rozejdą”.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Zapiętek</h1>
            <h2 class="subtitle is-6">W butach do biegania pełni bardzo ważną rolę: stabilizuje piętę. Ruch pięty w obrębie zapiętka jest oczywiście naturalny i możliwy, ale sytuacja, w której podczas chodu czy biegu buty są
              niestabilne i nam spadają jest niedopuszczalna. To jasny sygnał, że dany model butów nie jest przeznaczony dla nas.
            </h2>
          </section>
          <section class="section section-flex is-block-mobile">
            <h1 class="title is-3 is-spaced">Perfekcyjne dopasowanie dzięki esize.me</h1>
            <h2 class="subtitle is-6">Osoby uprawiające sport wiedzą, że dobór odpowiednio dopasowanych butów jest bardzo ważny. Właściwe dobrane obuwie zapewnia komfort podczas wysiłku, pozwala rywalizować na 100% i - co
              najważniejsze w ich przypadku - minimalizuje ryzyko kontuzji.
              Gdy już zdecydowaliśmy się na aktywne spędzanie wolnego czasu, warto poświęcić chwilę na dobranie takich butów, które będą pasować jak ulał. Ale czy to jest w ogóle możliwe? Jak najbardziej! W październiku ubiegłego roku firma
              eobuwie.pl wprowadziła na rynek usługę esize.me, która w oparciu o skan 3D stóp klienta dopasowuje buty. Przymierzanie jeszcze nigdy nie było takie proste!

              Jak działa esize.me? Skanery zaprojektowano tak, aby w kilka sekund powstał model 3D stóp uwzględniający ich szczegółowe wymiary: długość, szerokość oraz wysokość. Następnie system esize.me porównuje go z wewnętrznym obrazem butów z
              całej oferty eobuwie.pl i rekomenduje te najlepiej dopasowane do stopy użytkownika.
              Skan wykonuje się jednorazowo. Warto przypisać go do swojego numeru telefonu i adresu e-mail i korzystać z rekomendacji: zarówno w sklepach stacjonarnych eobuwie.pl, jak i podczas zakupów internetowych.
              W systemie zastosowano machine learning, dzięki czemu odpowiada on na potrzeby różnych osób. Dzięki temu można oceniać stopień dopasowania, zostawiając tzw. feedback. System uwzględni nasze preferencje (np. to, że wolimy bardziej
              dopasowane buty) i wykorzysta je podczas następnych rekomendacji.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Sprawdź gdzie możesz wykonać pomiar</h1>
            <h2 class="subtitle is-6">System skanowania eszie.me udostepniony jest za darmo w 35 lokalizacjach, w największych polskich miastach. Aktualna lista punktów znajduje się tutaj: <a href="https://www.esize.me/#mapa">www.esize.me/#mapa</a>
            </h2>
            <div class="blog-map">

            </div>
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Nadal nie wiesz jakie buty wybrać?</h1>
            <h2 class="subtitle is-6">Wybór odpowiedniego obuwia do biegania nie jest łatwy. Szczególnie jeśli dopiero zaczynasz przygodę z bieganiem. Aby właściwie dobrać buty do biegania, proponujemy wykonać skan stopy. Na tej
              podstawie system esize.me. zarekomenduje buty odpowiednio dopasowane do Twoich stóp.
              Co jeśli nie posiadasz skanu? Nic nie szkodzi. Specjalnie dla Ciebie eobuwie.pl przygotowało zestaw pytań, które pozwolą ustalić odpowiedni poziom amortyzacji, potrzebę zastosowania systemu stabilizującego i wiele innych potrzebnych
              informacji. Na tej podstawie system zarekomenduje odpowiednio dopasowane buty - ze wszystkich dostępnych marek z oferty eobuwie.pl.
              Kliknij w przycisk poniżej i dobierz buty do biegania.
            </h2>
            <a target="_blank" href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button">Przejdź do quizu</a>
          </section>
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_zielinska.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Weronika Zielińska</h3>
                    <div class="has-text-grey-light">Trenerka, ASICS FrontRunner Poland</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-5">Biega od 21 lat. W przeszłości zdobywała medale Mistrzostw Polski w biegu na 400m przez płotki. Z wykształcenia Trener Lekkiej Atletyki i Trener Personalny. Od 9 lat pracuje z biegaczami-amatorami prowadząc obozy biegowe,
              treningi biegowe, funkcjonalne, indywidualne oraz rozpisuje plany biegowe. Autorka artykułów o tematyce biegowej dla portali internetowych i miesięczników. Prywatnie partnerka biegacza-triathlonisty, mama Igi i biegaczka
              długodystansowa. ASICS FrontRunner Poland.</p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/bieganienaturalne.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Bieganie naturalne i buty minimalistyczne</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/bieganie_naturalne">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/maisto_teren.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Buty do biegania w mieście czy w terenie - Które wybrać?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/miasto_czy_teren">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article3.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Co różni damskie i męskie buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/damskie_meskie_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
            <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>