<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container">
      <div class="columns main-columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Pronacja i supinacja - Sprawdź czy potrzebujesz butów ze stabilizacją</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Większość z nas troche pronuje. Problem pojawia się gdy tendencja do pronacji jest nadmierna. To prowadzi do przeciążeń i może powodować kontuzje. Dlatego dla biegaczy nadmiernie pronujących
              zostały stworone buty z dodatkową stabilizacją. Sprawdź sam, czy potrzebujesz takich butów do biegania!</h2>
            <div class="sb-hero-video">
              <iframe src="https://www.youtube.com/embed/kgpVUhaqGcw?rel=0" frameborder="0"></iframe>
            </div>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Jak samodzielnie sprawdzić pronację?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Popularny w obiegowej opini jest tak zwany “test mokrej stopy”, ale proponujemy włożyć go między bajki. Dlaczego? Stawiając mokrą stopę na kartce papieru możemy tylko sprawdzić wydrążenie naszej
              stopy, a to z kolei nie daje nam jasnej odpowiedzi.
              Jeśli chcesz na poważnie sprawdzić czy Twoja stopa pronuje, supinuje, czy jest neutralna mamy dla ciebie trzy proste kroki: </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Krok 1 - przyjrzyj się budowie swoich stóp</h1>
            <div class="content">
              <ul>
                <li>
                  Jeśli linia, wiodąca przez te punkty jest zbliżona do pionowej, można powiedzieć, że Twoja pozycja stopy jest neutralna.
                </li>
                <li>
                  Jeśli w tej pozycji kostka ucieka do wewnątrz, możesz mieć tendencję do pronacji.
                </li>
                <li>
                  Jeśli w tej samej pozycji kostka odchyla się na zewnątrz, możesz mieć tendencję do supinacji.
                </li>
              </ul>
            </div>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Krok 2 - zacznij biegać!</h1>
            <h2 class=" subtitle is-6 is-size-6-mobile">Nic nie da ci takiej wiedzy o Twoich stopach jak samo bieganie.
              Poproś kogoś, lub samodzielnie nagraj video, na którym zobaczysz siebie w ruchu. Wykonaj dwa ujęcia. Pierwsze z tyłu oraz drugie z boku.
              Podobnie jak w pierwszym sposobie zwróć uwagę jak zachowuje się w trakcie ruchu Twoja stopa.</h2>
            <div class="content">
              <ul>
                <li>
                  Jeśli Twoja stopa przetacza się bardziej po stronie wewnętrznej masz tendencję do pronacji
                </li>
                <li>
                  Jeśli Twoja stopa przetacza się po zewnętrznej krawędzi stopy masz tendencję do supinac
                </li>
              </ul>
            </div>
          </section>
          <section class="section">
            <h1 class="title is-3 is-spaced">Krok 3 - obejrzyj podeszwy używanych butów do biegania. </h1>
            <h2 class=" subtitle is-6 is-size-6-mobile">Warto również zwrócić uwagę na zużycie swoich aktualnych butów biegowych, których przebieg wynosi co najmniej 300km. Patrząc na podeszwy jesteśmy w stanie bardzo dużo z nich wyczytać.</h2>
            <div class="content">
              <ul>
                <li>
                  Osoby z tendencją do nadpronacji zobaczą, że podeszwa jest najbardziej starta przy wewnętrznej krawędzi śródstopia.
                </li>
                <li>
                  Osoby z tendencją do supinacji zaobserwują zużycie wzdłuż zewnętrznej krawędzi buta.
                </li>
                <li>
                  Osoby przetaczające stopę neutralnie zobaczą dość równomierne zużycie podeszwy, z mocniejszymi przetarciami na pięcie i przy palcach.
                </li>
              </ul>
            </div>
            <div class="step-3-columns-wrapper has-text-centered-mobile">
              <div class="columns step-3-columns">
                <div class="column is-narrow">
                  <img style="width: 180px;height: 180px;" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_neutralna.png"}}" alt="" />
                </div>
                <div class="column">
                  <div class="step-3-column has-text-left-mobile">
                    <p class="title is-5 is-spaced">Stopa neutralna</p>
                    <p class="subtitle is-6">Pierwszy kontakt stopy z podłożem następuje na środkową część stopy. Kolejno stopa przetacza się przez zewnętrzną część śródstopia, aż do przodostopia z którego następuje odbicie.
                  </div>
                </div>
              </div>
              <div class="columns step-3-columns">
                <div class="column is-narrow">
                  <img style="width: 180px;height: 180px;" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_supinujaca.png"}}" alt="" />
                </div>
                <div class="column">
                  <div class="step-3-column has-text-left-mobile">
                    <p class="title is-5 is-spaced">Stopa supinująca</p>
                    <p class="subtitle is-6">Pierwszy kontakt stopy z podłożem następuje na środkową lub zewnętrzną część pięty. Już w pierwszym etapie widać stopę zrotowaną do zewnątrz. Kolejno stopa przetacza się przez zewnętrzną krawędź
                      śródstopia
                      (wewnętrza część stopy często w ogóle nie przylega do podłoża) aż do zewnętrznej części przodostopia z którego następuje odbicie.
                  </div>
                </div>
              </div>
              <div class="columns step-3-columns">
                <div class="column is-narrow">
                  <img style="width: 180px;height: 180px;" src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_pronujaca.png"}}" alt="" />
                </div>
                <div class="column">
                  <div class="step-3-column has-text-left-mobile">
                    <p class="title is-5 is-spaced">Stopa pronująca</p>
                    <p class="subtitle is-6">Pierwszy kontakt stopy z podłożem następuje na środkową lub wewnętrzną część pięty. Już w pierwszym etapie widać stopę zrotowaną do wewnątrz. Kolejno stopa przetacza się przez wewnętrzną część śródstopia
                      (zewnętrzna część stopy często w ogóle nie przylega do podłoża) aż do wewnętrznej części przodostopia z którego następuje odbicie.
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Jakie buty wybrać?</h1>
            <article class="message is-success">
              <div class="message-body">
                “Buty to najważniejsze narzędzie dla biegaczy zaawansowanych i tych, którzy dopiero rozpoczynają przygodę z bieganiem. Źle dobrane obuwie potrafi zniechęcić do biegania początkujących, a dobre, pokaże im prawdziwą przyjemność, jaką
                mogą z niego czerpać. Dobierając obuwie należy wziąć pod uwagę wiele czynników – poziom amortyzacji oraz rodzaj bieżnika ze względu na nawierzchnię, po której planujemy biegać, to do czego zamierzamy używać tej pary – starty, czy
                treningi, a także typ przetaczania stopy. Obuwie warto dobierać świadomie, tak, aby znaleźć idealne dla siebie, nie tylko pod względem wyglądu. Jeśli Twoja stopa nadpronuje, polecam coś z większą stabilizacją, np.: ASICS GEL – Kayano
                26. Biegając powinniśmy robić to zdrowo, bo przecież biegamy dla zdrowia, a dobrze dobrana para butów biegowych powinna być właśnie pierwszym krokiem w kierunku zdrowia biegacza.”
                <br><br>
                <strong>Magdalena Głaszczka – fizjoterapeutka, ASICS FrontRunner Poland</strong>
              </div>
            </article>
            <h2 class="subtitle is-6 is-size-6-mobile">Szukając odpowiednich butów do biegania zwróć uwagę na to czy są to buty neutralne, czy ze stabilizacją. Jeżeli zauważyłeś u siebie tendencję do nadpronacji wybierz model butów ze stabilizacją.
              Te są stworzone specjalnie z myślą o biegaczach pronujących. Wewnatrz takich butów znajdziesz mostek korygujący pozycję stopy w trakcie biegu. Zapobiega on nadmiernemu przekrzywianiu kostek do wewnątrz co jest najprostszym sposobem
              korekcji nadpronacji i ochrony przed urazami i kontuzjami pronatorów. Dzięki dobrze dobranym butom tendencja do nadpronacji będzie ograniczana, obciążenie stóp stanie się bardziej równomierne, a Ty będziesz mógł cieszyć się uzyskanym
              komfortem i brakiem kontuzji.</h2>
            <!-- <div id="synerise-stabilizacja">

            </div> -->
            <h2 class="subtitle is-6 is-size-6-mobile">Co jeśli biegasz neutralnie subinujesz lub nie masz pewności?
              Jeśli nie stwierdziliśmy u siebie nadpronacji, ani supinacji, lub gdy nie mamy wątpliwości co do rodzaju stopy, to zdecydowanie powinniśmy wybrać buty neutralne.Kupując buty ze stabilizacją przy nautralnym, a tym bardziej przy
              supinującym sposobie przetaczania stopy mostek stabilizujący pozycję stopy będzie uwierał w trakcie biegu, a nawet potęgował tendencję do supinacji. Dlatego aby bieganie było bardziej komforowe wybierz buty neutralne. W przypadku
              supinatorów warto zwrócić dodatkowo uwagę na zwiększoną amortyzację, która pozwoli zredukować brak naturalnej amortyzacji spowodowanej rotacją stopy do zewnątrz.</h2>
            <!-- <div id="synerise-neutralne">

            </div> -->
          </section>
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_glaszczka.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Magdalena Głaszczka</h3>
                    <div class="has-text-grey-light">Fizjoterapeutka, ASICS Frontrunner Poland</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-6">Biega od 6 lat, a aktywna jest odkąd pamięta. Z wykształcenia i pasji fizjoterapeutka, której ulubionym wyzwaniem w pracy są... biegacze. Ze swoimi pacjentami zawsze stara się pracować nad tym co można poprawić, bądź
              zmienić, żeby biegać lepiej, szybciej, ale przede wszystkim bez kotuzji. ASICS FrontRunner Poland.</p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-3 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_marton_szybkibieg_small.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jakie wybrać buty
                  na maraton a jakie
                  do szybkiego biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/buty_maraton_szybki_bieg">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog_jakdbac.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jak dbać o buty
                  do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/jak_dbac_o_buty">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/amortyzacja_small.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Amortyzacja w butach do biegania - Jakiej potrzebujesz?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/amortyzacja_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
          </section>
          <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .content ol {
    margin-left: 1em !important;
  }

  #sb-blog .content ul {
    list-style: none;
  }

  #sb-blog .content ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #2B9A46;
  }

  #sb-blog .main-columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .step-3-columns .column {
    padding-right: 0 !important;
    padding-top: 0;
  }

  #sb-blog .step-3-columns-wrapper {
    margin-top: 4rem;
  }

  #sb-blog .step-3-columns .step-3-column {
    margin-left: 1rem;
  }

  #sb-blog .step-3-columns .title {
    margin-bottom: 1rem;
  }

  #sb-blog iframe {
    width: 100%;
    height: 31rem;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }

    #sb-blog iframe {
      height: 14rem;
    }

    #sb-blog .step-3-columns {
      margin-bottom: 4rem;
    }
  }
</style>