<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Amortyzacja w butach do biegania - Jakiej potrzebujesz?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Podczas biegania nasze stawy poddawane są silnym przeciążeniom. Dlatego buty biegowe powinniśmy wybierać również biorąc pod uwagę wymaganą amortyzację. Aby określić stopień amortyzacji, którego
              potrzebujemy powinniśmy zwrócić szczególną uwagę na kilka aspektów:
              nawierzchnia, waga biegacza, kilometraż, technika biegu.</h2>
            <iframe src="https://www.youtube.com/embed/H_VmhQ9wEQ4?rel=0" frameborder="0"></iframe>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Nawierzchnia</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Po im twardszych nawierzchniach biegasz, tym większa amortyzacja będzie Ci potrzebna. Jeśli głownie biegasz po mieście, np. po asfalcie, chodnikach czy kostce brukowej, wszystkich nawierzchniach
              utwardzonych - warto wybrać buty o jak największym stopniu amortyzacji.
              Jeśli biegasz po polnych albo leśnych drogach, ścieżkach szutrowych - czyli po mniej utwardzonym gruncie - nadal potrzebujesz amortyzacji, ale nie tak dużej jak do biegania w mieście.
              Jeśli biegasz w terenie, po miękkich nawierzchniach, takich jak trawa, piasek, śnieg, błoto - potrzebujesz butów o względnie niskiej amortyzacji.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Waga biegacza</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Waga biegacza jest tak ważna ze względu na siły, którym poddawane są nasze mięśnie i stawy podczas biegu. U biegaczy z większą masą ciała przeciążenia te są znacznie wyższe niż u biegaczy
              “lekkich”. Dlatego im więcej ważysz tym bardziej amortyzowanych butów do biegania potrzebujesz. Producenci butów do biegania określają jako magiczną granicę 80kg w przypadku mężczyzn a 60 kg w przypadku kobiet.</h2>
          </section>
          <article class="message is-success">
            <div class="message-body">
              “Bieganie to duża przyjemność, ale i obciążenie organizmu. Mimo że nie należę do ciężkich biegaczy (65-70kg), to większość jednostek treningowych wykonuję w butach z bardzo dużą amortyzacją – GEL-Nimbus 21. Może dzięki temu w wieku 63
              lat wciąż mogę cieszyć się bieganiem!”
              <br><br>
              <strong>Jerzy Skarżyński – trener, ambasador ASICS</strong>
            </div>
          </article>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Kilometraż</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Naturanie, im więcej kilometrów pokonujesz, tym bardziej powinieneś zwrócić uwagę na temat amortyzacji. Większa amortyzacja poprawi komfort biegu, daltego jeśli biegasz powyżej 60 km tygodniowo
              wybierz buty ze zwiększoną ilością amortyzacji.
              Biegając między 30 a 60 km w tygodniu wybierz buty ze srednią amortyzacją. Buty ze standardową, czyli względnie niską amortyzacją będą wystarczające, jeśli biegasz mniej niż 30 km w tygodniu.</h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Technika biegu</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">To w jaki sposub lądujesz w trakcie biegu ma istotne znaczenie w doborze odpowiedniego poziomu amortyzacji. Nasza stopa naturalnie została wyposarzona w “system amortyzacji” znajdujący się w
              śródstopiu, gdzie siła uderzenia jest skutecznie rozkładana. Jednak zdecydowana większość biegaczy początkujących, ale także średniozaawansowanych biega lądując na pięcie. Oczywiście, sama pięta nie zamortyzuje biegu. Wówczas potrzebna
              jest solidna porcja amortyzacji, która ochroni piętę przed stłuczeniem.
              Zatem, jeśli w czasie biegu lądujesz na piętę, przydadzą Ci się buty z większą amortyzacją. A jeśli biegasz lądując na śródstopiu lub palcach nie potrzebujesz butów o tak dużym stopniu amortyzacji.
            </h2>
          </section>
          <!-- <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Oglądaj artykuły do pielęgnacji butów</h1>
            <div id="synerise-miasto">

            </div>
            <div class="has-text-centered"><a class="button">Zobacz wszystko</a></div>
          </section> -->
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_skarzynski.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Jerzy Skarżyński</h3>
                    <div class="has-text-grey-light">Trener, ambasador ASICS</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-6">Maratończyk, z rekordem życiowym 2:11:42 (1986), 3-krotny medalista mistrzostw Polski w maratonie, wielokrotny reprezentant Polski oraz trener. Prawdopodobnie największy Autorytet Biegowy w Polsce, autor bestsellerowych
              poradników dla biegaczy. Ambasador ASICS.</p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-3 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article1.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jak dobrać buty
                  do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/jak_dobrac_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article2.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Sprawdź czy potrzebujesz butów ze stabilizacją.</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/pronacja_supinacja">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article3.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Zużycie amortyzacji - Kiedy wymienić buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/zuzycie_amortyzacji">Czytaj więcej</a>
              </div>
            </div>
            <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .content ol {
    margin-left: 1em !important;
  }

  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog iframe {
    width: 100%;
    height: 31rem;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog iframe {
      height: 14rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>