<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Jak dbać o buty do biegania?</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">O buty do biegania, jak każde inne, należy dbać wg zaleceń producenta. Stan techniczny obuwia zależy od jego odpowiedniej pielęgnacji. Jak czyścić i dbać o butu, aby służyły jak nadłużej?
              Podpowiadamy!</h2>
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/jak_dbac.png"}}" alt="" />
          </section>
          <article class="message is-success">
            <div class="message-body">
              “Należy przestrzegać zaleceń producenta. Wykluczone jest pranie w pralce czy suszenie na słońcu. Najlepiej buty czyścić od razu po treningu "na sucho", miękką szczoteczką. Jeśli to nie pomoże, powinniśmy sięgnąć po wilgotną szmatkę
              nawilżoną łagodnym środkiem czyszczącym. W ostateczności można buty wyprać ręcznie z użyciem letniej wody oraz delikatnego detergentu. Pielęgnując obuwie w ten sposób dajemy swoim butom szansę na dłuższe życie.”
              <br><br>
              <strong>Emil Grzesiak - Customer Service ASICS Polska</strong>
            </div>
          </article>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Pranie</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Pod żadnym pozorem nie pierz butów w pralce. Pomyśl o wszystkich systemach, które zastosowano w Twoim obuwiu! Woda oraz środki chemiczne mają negatywny wpływ - poszczególne warstwy butów mogą
              się rozkleić lub na stałe zdeformować. Pamiętaj, że buty wyprane w ten sposób nie podlegają reklamacji. Jej podstawę mogą stanowić tylko rozklejenia spowodowane deszczem. Prać, ale tylko ręcznie, możesz wkładkę i sznurowadła.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Czyszczenie ręczne</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Z drobnych zabrudzeń buty czyścimy ściereczką lub szczoteczką z miękkim włosiem, używając specjalnych środków do czyszczenia obuwia. Buty odkładamy na miejsce dopiero wówczas, gdy są całkowicie
              wysuszone. Pamiętaj także o regularnej dezynfekcji butów - w ten sposób, poza względami estetycznymi, zadbasz także o wyeliminowanie nieprzyjemnych zapachów.
              Obuwie z wodoodporną membraną odświeżaj przy pomocy nawilżonej szmatki. Na dobrze wysuszoną powierzchnię, najlepiej zagrzaną, nanieś środek konserwujący w aerozolu.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Suszenie</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Kiedy jednak buty ulegną przemoczeniu, poniewaz intensywnie trenowałeś podczas deszczu, solidnie je wysusz - najlepiej w suchym, przewiewnym miejscu. Pozostaw je tam do całkowitego odparowania
              wody, nie przyspieszaj tego procesu, stawiając buty na grzejniku lub wystawiając na działanie promieni słonecznych. To również może spowodować odkształcenia. Do środka możesz włożyć papierowe ściereczki, które wchłoną wilgoć.
            </h2>
          </section>
          <section class="section section-flex">
            <h1 class="title is-3 is-spaced">Użytkowanie</h1>
            <h2 class="subtitle is-6 is-size-6-mobile">Dbanie o buty to także użytkowanie ich zgodnie z przeznaczeniem. Dlatego w butach do biegania np. nie grajmy w piłkę nożną, ponieważ to znacznie skróci ich żywotność. Nie pożyczajmy także
              naszych butów innym biegaczom - każda stopa układa się indywidualnie. W codziennym użytkowaniu stosujmy się do kilku podstawowych zasad:</h2>
            <div class="content">
              <ol type="1">
                <li>Podczas zakładania i zdejmowania sprawdź, czy dobrze rozsznurowałeś obuwie. Ta prosta czynność sprawi, że cholewka oraz zapiętki pozostaną sztywne i nie ulegną zagięciom, rozciągnięciom i załamaniom.</li>
                <li>Aby uniknąć załamania zakładek i rozerwania cholewek, do zakładania obuwia używaj łyżki do butów. </li>
                <li>Unikaj przemoczenia oraz przepocenia obuwia. Nawet prawidłowo konserwowane obuwie można przemoczyć podczas deszczu lub topniejącego śniegu, dlatego w takich warunkach najlepiej sprawdza się obuwie oznaczone jako Waterproof. </li>
              </ol>
            </div>
          </section>
          <!-- <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Oglądaj artykuły do pielęgnacji butów</h1>
            <div id="synerise-pielegnacja">

            </div>
            <div class="has-text-centered"><a class="button">Zobacz wszystko</a></div>
          </section> -->
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_lekawa.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Mateusz Łękawa</h3>
                    <div class="has-text-grey-light">Ambasador eobuwie.pl</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-6">Ekspert biegowy oraz autor bloga BlogBiegowy.pl. Absolwent Akademii Wychowania Fizycznego z wieloletnim doświadczeniem biegowym i rekordem życiowym w maratonie 2h 32m 39s.</p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-3 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article1.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jak dobrać buty
                  do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/jak_dobrac_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article2.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Sprawdź czy potrzebujesz butów ze stabilizacją.</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/pronacja_supinacja">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article3.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Zużycie amortyzacji - Kiedy wymienić buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/zuzycie_amortyzacji">Czytaj więcej</a>
              </div>
            </div>
            <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .content ol {
    margin-left: 1em !important;
  }

  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>