<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <div id="sb-blog">
    <div class="container is-fluid">
      <div class="columns is-desktop">
        <div class="column">
          <section class="section">
            <h1 class="title is-1 is-size-3-mobile is-spaced">Buty do biegania w mieście
              czy w terenie - Które wybrać?</h1>
            <h2 class="subtitle is-6">Zanim zdecydujesz się na zakup butów do biegania, określ nawierzchnię, na której zamierzasz ćwiczyć. To kluczowa sprawa, która determinuje budowę buta i uwypukla jego określone cechy.
              Podpowiadamy,
              jakie buty
              wybrać
              na
              twarde, asfaltowe nawierzchnie, a na co zwrócić uwagę, kiedy trenujemy na terenach otwartych, np w lesie.</h2>
            <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-img1.png"}}" alt="" />
          </section>
          <section class="section section-flex">
            <h1 class="title is-4 is-spaced">Buty do biegania w mieście</h1>
            <h2 class="added-mobile1 subtitle is-6">Są to buty treningowe przeznazone do biegania po twardych nawierzchniach takich jak asfalt, kostka brukowa, czy polne ścieżki. Co powinno przede wszystkim wyróniać modele butów do
              biegania w
              mieście?
              Przede
              wszystkim duża amortyzacja. Biegając nawet krótkie dystanse, uderzamy nogą o ziemię z dużą siłą i robimy kilkadziesiąt tysięcy kroków. Nasze stawy i kolana wykonują ogromną pracę. Gdy biegamy po twardym podłożu siły te są
              zdecydowanie
              większe, gdyż podłoże nie amortyzuje uderzeń. </h2>
            <div class="content is-flex-desktop is-block-mobile">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-image2.jpg"}}" alt="" />
              <p class="hidden-mobile1">Podeszwa takich butów powinna być wykonana z solidnej i odpornej na ścieranie gumy i zapewniać odpowiedni, czyli wysoki poziom amortyzacji. Warunkuje ją odpowiednia ilość i rodzaj zastosowanej pianki lub
                inna technologia
                amortyzacyjna, np. GEL (asics) lub poduszka powietrzna AIR (nike). Warto wybrać także obuwie wykonane z solidnego ale i oddychającego materiału. Gwarantuje to właściwą wentylację stopy podczas wysiłku.</p>
            </div>
          </section>
          <!-- <section class="section">
            <div id="synerise-slider-asfalt">

            </div>
          </section> -->
          <section class="section section-flex is-block-mobile">
            <h1 class="title is-4 is-spaced">Buty do biegania w terenie</h1>
            <h2 class="added-mobile2 subtitle is-6">Kiedy mamy czas i możliwość - korzystajmy z aktywności na łonie natury. Miękkie podłoże jest bardziej przyjazne dla naszych stawów. Ale czy zawsze bieganie “w terenie” wymaga
              zastosowania innych
              butów, niż do
              biegania po mieście? Otóż nie zawsze. Jeśli zamierzasz biegać po prostych, płaskich szlakach, czy polnych ścieżkach, nie musisz od razu kupować drugiej pary butów. Bieganie terenowe to przede wszystkim bieganie w trudnych górskich i
              leśnych warunkach. Tutaj wchodzą do gry tak zawane buty trailowe. W górach, lesie oraz na miękkich i średno-twardych ścieżkach amortyzacja nie jest aż tak potrzebna jak w mieście. </h2>
            <div class="content is-flex-desktop">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-image3.jpg"}}" alt="" />
              <p class="hidden-mobile2">Nawet ubita ścieżka jest stosunkowo miękka. Nie oznacza to jednak, że możemy biegać w przypadkowym obuwiu. Czeka na nas bowiem wymahający teren - nierówne podłoże, błoto, kałuże, wystające kamienie i konary. W
                takich warunkach warto
                postawić na bardziej agresywny bieżnik, zapewniający bardzo dobrą przyczepność na mokrych i błotnistych nawierzchniach oraz wzmocnioną cholewkę, co z kolei przydaje się w bezpośrednim kontakcie z gałęziami czy kamieniami i pomaga
                uniknąć bolesnego kontaktu z przyrodą. Warto także wybrać modele wyposażone w membranę zapewniającą wodoodporność.</p>
            </div>
          </section>
          <article class="message is-success">
            <div class="message-body">
              “Różnica w bieganiu terenowym i asfaltowym jest na tyle duża, że naprawdę warto podzielić sobie biegową szafę na dwie części. Każdy ma na pewno w swojej okolicy tereny bardziej urozmaicone, które mogą być motywacją do dłuższego
              biegania w terenie. Tam z pewnością przydadzą się buty z bieżnikiem. Mój najczęstszy wybór w tej kategorii to ASICS GEL-FUJITRABUCO, z którymi żaden teren mi nie straszny ;)”
              <br><br>
              <strong>Kacper Piech – trener, ASICS FrontRunner Poland</strong>
            </div>
          </article>
          <!-- <section class="section">
            <div id="synerise-slider-teren">

            </div>
          </section> -->
        </div>
        <div class="column is-one-quarter-desktop">
          <section class="section">
            <article class="media">
              <figure class="media-left">
                <p class="image">
                  <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/author_piech.png"}}" alt="" />
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <h3 class="is-marginless">Kacper Piech</h3>
                    <div class="has-text-grey-light">Trener, ASICS FrontRunner Poland</div>
                  </p>
                </div>
              </div>
            </article>
            <p class="is-5">Biegacz z 15-letnim doświadczeniem, który zaczyna już kolejną pętlę po równiku kuli ziemskiej, mając na koncie przebiegniętych ponad 45 000 km. Trener, biegacz górski oraz organizator zawodów i specjalista w nowej,
              prężnie rozwijającej się dyscyplinie - swimrun. ASICS FrontRunner Poland.</p>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Rozwiąż krótki quiz i dobierz odpowiednie buty do biegania.</h1>
            <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-quiz-start.png"}}" alt="" />
            </a>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeglądaj na eobuwie.pl</h1>
            <a href="https://www.eobuwie.com.pl/sport/bieganie.html">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-cat-button.png"}}" alt="" />
            </a>
            <div class="tags">
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:asfalt.html"><span class="tag">Buty do biegania w mieście</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:pronacja.html"><span class="tag">Buty ze stabilizacją</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/nawierzchnia:terenowa.html"><span class="tag">Buty do biegania w terenie</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowe.html"><span class="tag">Buty treningowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:startowe.html"><span class="tag">Buty ze startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/przeznaczenie_biegowe:treningowo_startowe.html"><span class="tag">Buty treningowo-startowe</span></a>
              <a target="_blank" href="https://www.eobuwie.com.pl/typ_stopy:neutralna.html"><span class="tag">Buty neutralne</span></a>
            </div>
          </section>
          <hr>
          <section class="section">
            <h1 class="title is-4 is-spaced">Przeczytaj również</h1>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article1.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Jak dobrać buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/jak_dobrac_buty_do_biegania">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article2.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Sprawdź czy potrzebujesz butów ze stabilizacją.</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/pronacja_supinacja">Czytaj więcej</a>
              </div>
            </div>
            <div class="section-article">
              <img src="{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/blog-article3.png"}}" alt="" />
              <div class="sb-article">
                <h2 class="has-text-white has-text-weight-bold is-size-5 is-size-4-mobile">Zużycie amortyzacji - Kiedy wymienić buty do biegania?</h2>
                <a class="has-text-weight-light" href="https://www.eobuwie.com.pl/blog/zuzycie_amortyzacji">Czytaj więcej</a>
              </div>
            </div>
            <div><a href="https://www.eobuwie.com.pl/strefa_biegacza/artykuly" class="button">Wszystkie artykuły</a></div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <section class="is-hidden-mobile">
    <div class="sb-quiz-banner">
      <div class="sb-quiz-banner-text">
        <h2 class="is-size-2 is-size-3-desktop is-size-4-mobile has-text-weight-light has-text-white">Nadal nie
          wiesz jakie buty<span></span> do biegania wybrać?</h2>
        <h2 class="is-size-2 is-size-3-desktop is-size-3-mobile has-text-weight-light has-text-white">Możemy ci
          pomóc.</h2>
        <div class=" buttons">
          <a href="https://www.eobuwie.com.pl/strefa-biegacza-quiz" class="button is-medium">Rozpocznij quiz</a>
        </div>
      </div>
    </div>
  </section>
</body>
<style media="screen">
  .std {
    padding-bottom: 0;
  }

  #sb-blog .columns .column:nth-of-type(1) {
    padding-right: 8em;
  }

  #sb-blog .button {
    border-radius: 0 !important;
    border: 1px solid black !important;
    padding-left: 1.75em !important;
    padding-right: 1.75em !important;
    font-weight: bold;
  }

  #sb-blog img {
    width: 100%;
  }

  #sb-blog h2 {
    line-height: 24px;
  }

  #sb-blog .columns .column:nth-of-type(2) {
    padding: 0 !important;
  }

  #sb-blog .section-flex p {
    margin: 0 2em;
  }

  #sb-blog .section {
    padding-left: 0;
  }

  #sb-blog .tag:not(body) {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-right: 4px;
    font-weight: bold;
  }

  #sb-blog .tag:not(body):hover {
    cursor: pointer;
  }

  #sb-blog .message.is-success {
    background-color: white;
  }

  #sb-blog .message.is-success .message-body {
    color: #4CAF50;
    border-color: #4CAF50;
  }

  #sb-blog .media {
    align-items: center;
    margin: 1em 0;
  }

  #sb-blog .section-article {
    position: relative;
    margin: 2em 0;
  }

  #sb-blog .section-article img {
    filter: brightness(75%);
  }

  #sb-blog .sb-article {
    position: absolute;
    bottom: 3em;
    left: 1em;
    right: 2em;
    line-height: inherit;
  }

  #sb-blog .sb-article h2 {
    line-height: inherit;
  }

  #sb-blog .sb-article a {
    color: white;
    text-decoration: underline;
  }

  #sb-blog .blog-map {
    background-image: url('{{media url="wysiwyg/eobuwie/strefa_biegacza/blog/esizemapa.png"}}');
    height: 12rem;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sb-quiz-banner {
    background-image: url("{{media url="wysiwyg/eobuwie/strefa_biegacza/quizbanner.png"}}");
    height: 250px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sb-quiz-banner .sb-quiz-banner-text {
    position: absolute;
    top: 2em;
    right: 2em;
    color: white;
  }

  .sb-quiz-banner .sb-quiz-banner-text h2 {
    margin-bottom: 0.5em;
  }

  .sb-quiz-banner .button {
    color: white !important;
    border: 1px solid white;
    background-color: transparent;
  }

  @media (max-width: 1025px) {
    #sb-blog {
      padding-top: 4rem;
    }

    #sb-blog .columns .column {
      padding: 0 !important;
    }

    #sb-blog .section {
      padding: 1rem;
    }
  }
</style>